flows.json
[{"id":"3cefb83b.2a41f8","type":"tab","label":"플로우 3","disabled":false,"info":""},{"id":"3a63bb2e.f21724","type":"mqtt in","z":"3cefb83b.2a41f8","name":"Acc_X","topic":"/esp32/XAcc","qos":"2","datatype":"auto","broker":"4acddace.dce434","x":110,"y":60,"wires":[["480505be.aabd9c"]]},{"id":"adc410e0.91da6","type":"mqtt in","z":"3cefb83b.2a41f8","name":"Acc_Y","topic":"/esp32/YAcc","qos":"2","datatype":"auto","broker":"4acddace.dce434","x":90,"y":140,"wires":[["480505be.aabd9c"]]},{"id":"77931dc0.f268c4","type":"mqtt in","z":"3cefb83b.2a41f8","name":"Acc_Z","topic":"/esp32/ZAcc","qos":"2","datatype":"auto","broker":"4acddace.dce434","x":90,"y":220,"wires":[["480505be.aabd9c"]]},{"id":"abdbf4e3.6d4de8","type":"mqtt in","z":"3cefb83b.2a41f8","name":"Gyro_X","topic":"/esp32/XGyro","qos":"2","datatype":"auto","broker":"4acddace.dce434","x":90,"y":280,"wires":[["480505be.aabd9c"]]},{"id":"3ddc9bc3.ea5d34","type":"mqtt in","z":"3cefb83b.2a41f8","name":"Gyro_Y","topic":"/esp32/YGyro","qos":"2","datatype":"auto","broker":"4acddace.dce434","x":90,"y":360,"wires":[["480505be.aabd9c"]]},{"id":"ab20b47a.a3ffe8","type":"mqtt in","z":"3cefb83b.2a41f8","name":"Gyro_Z","topic":"/esp32/ZGyro","qos":"2","datatype":"auto","broker":"4acddace.dce434","x":70,"y":420,"wires":[["480505be.aabd9c"]]},{"id":"480505be.aabd9c","type":"join","z":"3cefb83b.2a41f8","name":"Join Sensor Data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":220,"wires":[["f3bec021.4242","f09a3d32.c5982"]]},{"id":"f3bec021.4242","type":"influxdb out","z":"3cefb83b.2a41f8","influxdb":"e7b80a16.3bafd8","name":"InfuxDB-Intrusion-Data","measurement":"insert_data","precision":"","retentionPolicy":"","x":580,"y":280,"wires":[]},{"id":"f09a3d32.c5982","type":"debug","z":"3cefb83b.2a41f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":120,"wires":[]},{"id":"4acddace.dce434","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.34","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e7b80a16.3bafd8","type":"influxdb","z":"","hostname":"192.168.0.34","port":"8086","protocol":"http","database":"test_data","name":"InfuxDB-Intrusion-Data","usetls":false,"tls":""}]