node-red/20201218-3.json
[{"id":"9a1e0c29.c1dcf","type":"tab","label":"Acc_1호","disabled":false,"info":""},{"id":"1d26cda.c0a9932","type":"tab","label":"Acc_2호","disabled":false,"info":""},{"id":"26f040e6.9ab2e","type":"tab","label":"Acc_3호","disabled":false,"info":""},{"id":"219560fd.177a1","type":"tab","label":"Acc_4호","disabled":false,"info":""},{"id":"d73865ad.4c2998","type":"tab","label":"ESP32_CAM_1호","disabled":false,"info":""},{"id":"22a449b3.6d5976","type":"tab","label":"influxDB","disabled":false,"info":""},{"id":"60a8f472.bf973c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"도봉 증자기          ( 서울탁주 공무부 )","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f1a387e.6e5f88","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.33","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1da46804.afa2a8","type":"influxdb","z":"","hostname":"192.168.0.35","port":"8086","protocol":"http","database":"test_data","name":"InfuxDB-Intrusion-Data","usetls":false,"tls":""},{"id":"9a3a72e7.b224c","type":"ui_spacer","name":"spacer","group":"9687a27.ea6b16","order":1,"width":4,"height":1},{"id":"a9008416.ac5f78","type":"ui_group","z":"","name":"X센서 No.1_Acc","tab":"5bb76b30.c7c8e4","order":1,"disp":false,"width":5,"collapse":false},{"id":"c32d60a4.705ce","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.33","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b1d5adb8.3f229","type":"ui_group","z":"","name":"Y센서 No.1_Acc","tab":"5bb76b30.c7c8e4","order":2,"disp":false,"width":"5","collapse":false},{"id":"739e2803.5a1a58","type":"ui_group","z":"","name":"Z센서 No.1_Acc","tab":"5bb76b30.c7c8e4","order":3,"disp":false,"width":"5","collapse":false},{"id":"b038e2e5.35d3f","type":"ui_group","z":"","name":"1호 기어부 영상","tab":"5bb76b30.c7c8e4","order":4,"disp":false,"width":"5","collapse":false},{"id":"5bb76b30.c7c8e4","type":"ui_tab","z":"","name":"증자 1호 진동센서","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"49f5617b.9d389","type":"ui_group","z":"","name":"X센서","tab":"","order":1,"disp":true,"width":5,"collapse":false},{"id":"999dc397.6c74b","type":"ui_group","z":"","name":"Y센서","tab":"","order":2,"disp":true,"width":5,"collapse":false},{"id":"7352b336.76cddc","type":"ui_group","z":"","name":"Z센서","tab":"","order":3,"disp":true,"width":5,"collapse":false},{"id":"ffaa85c1.060358","type":"ui_group","z":"","name":"T센서","tab":"","order":4,"disp":true,"width":5,"collapse":false},{"id":"c9601065.42dfb","type":"ui_spacer","name":"spacer","group":"49f5617b.9d389","order":5,"width":5,"height":1},{"id":"5a45158e.3c334c","type":"ui_spacer","name":"spacer","group":"49f5617b.9d389","order":7,"width":5,"height":1},{"id":"83dd1622.6cd778","type":"ui_spacer","name":"spacer","group":"999dc397.6c74b","order":5,"width":5,"height":1},{"id":"339dfbd4.d78b24","type":"ui_spacer","name":"spacer","group":"999dc397.6c74b","order":7,"width":5,"height":1},{"id":"a59ab22c.0e753","type":"ui_spacer","name":"spacer","group":"7352b336.76cddc","order":5,"width":5,"height":1},{"id":"c623b2a0.833d3","type":"ui_spacer","name":"spacer","group":"7352b336.76cddc","order":7,"width":5,"height":1},{"id":"e49ce90e.6713e8","type":"ui_spacer","name":"spacer","group":"ffaa85c1.060358","order":5,"width":5,"height":1},{"id":"c8d1cdd5.143c6","type":"ui_spacer","name":"spacer","group":"ffaa85c1.060358","order":7,"width":5,"height":1},{"id":"457babc9.91a9a4","type":"ui_group","z":"","name":"증자 1호","tab":"86431497.fbffe8","order":1,"disp":true,"width":"6","collapse":true},{"id":"86431497.fbffe8","type":"ui_tab","z":"","name":"증자 1호 기어부 영상","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"4d8e847a.291b7c","type":"ui_tab","z":"","name":"증자 2호 진동센서","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fb2bdbf4.08a018","type":"ui_group","z":"","name":"X센서 No.2_Acc","tab":"4d8e847a.291b7c","order":1,"disp":true,"width":5,"collapse":false},{"id":"207119f0.5c8a56","type":"ui_group","z":"","name":"Y센서 No.2_Acc","tab":"4d8e847a.291b7c","order":2,"disp":true,"width":5,"collapse":false},{"id":"fedc36e2.ff5018","type":"ui_group","z":"","name":"Z센서 No.2_Acc","tab":"4d8e847a.291b7c","order":3,"disp":true,"width":5,"collapse":false},{"id":"2d5726a5.35b13a","type":"ui_group","z":"","name":"T센서 No.2_Acc","tab":"4d8e847a.291b7c","order":4,"disp":true,"width":5,"collapse":false},{"id":"978dfc30.a9fee","type":"ui_tab","z":"","name":"증자 3호 진동센서","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"ef399815.769f38","type":"ui_group","z":"","name":"X센서 No.3_Acc","tab":"978dfc30.a9fee","order":1,"disp":true,"width":5,"collapse":false},{"id":"c2f2b561.1b5568","type":"ui_group","z":"","name":"Y센서 No.3_Acc","tab":"978dfc30.a9fee","order":2,"disp":true,"width":5,"collapse":false},{"id":"b982f7cd.ef3778","type":"ui_group","z":"","name":"Z센서 No.3_Acc","tab":"978dfc30.a9fee","order":3,"disp":true,"width":5,"collapse":false},{"id":"6a46d623.030b58","type":"ui_group","z":"","name":"T센서 No.3_Acc","tab":"978dfc30.a9fee","order":4,"disp":true,"width":5,"collapse":false},{"id":"d93f7c8e.d2fb1","type":"ui_tab","z":"","name":"증자4호 진동센서","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"e4df2bfb.da5108","type":"ui_group","z":"","name":"X센서 No.4_Acc","tab":"d93f7c8e.d2fb1","order":1,"disp":true,"width":5,"collapse":false},{"id":"f302b5b8.cd77a8","type":"ui_group","z":"","name":"Y센서 No.4_Acc","tab":"d93f7c8e.d2fb1","order":2,"disp":true,"width":5,"collapse":false},{"id":"3dffc255.06afbe","type":"ui_group","z":"","name":"Z센서 No.4_Acc","tab":"d93f7c8e.d2fb1","order":3,"disp":true,"width":5,"collapse":false},{"id":"73eee57a.b3fcdc","type":"ui_group","z":"","name":"T센서 No.4_Acc","tab":"d93f7c8e.d2fb1","order":4,"disp":true,"width":5,"collapse":false},{"id":"e71c9e25.99541","type":"ui_tab","z":"","name":"증자 1호 차트","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"d067dd84.39cf8","type":"ui_group","z":"","name":"1호 차트","tab":"e71c9e25.99541","order":1,"disp":true,"width":"22","collapse":true},{"id":"5909e557.5397ac","type":"ui_tab","z":"","name":"증자 2호 차트","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"f807daa7.165138","type":"ui_group","z":"","name":"2호 차트","tab":"5909e557.5397ac","order":1,"disp":true,"width":22,"collapse":false},{"id":"9fc01511.a36f98","type":"ui_spacer","name":"spacer","group":"f807daa7.165138","order":4,"width":1,"height":"1"},{"id":"2433efdd.5971b","type":"ui_spacer","name":"spacer","group":"f807daa7.165138","order":8,"width":1,"height":"1"},{"id":"b3f49384.601eb","type":"ui_spacer","name":"spacer","group":"d067dd84.39cf8","order":4,"width":1,"height":1},{"id":"3d975b55.634224","type":"ui_spacer","name":"spacer","group":"d067dd84.39cf8","order":8,"width":1,"height":1},{"id":"a8191098.a0ac4","type":"ui_tab","z":"","name":"증자 3호 차트","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"f8df469.65641b8","type":"ui_tab","z":"","name":"증자 4호 차트","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"35108753.bb9618","type":"ui_group","z":"","name":"3호 차트","tab":"a8191098.a0ac4","order":1,"disp":true,"width":22,"collapse":false},{"id":"4088d279.f8984c","type":"ui_spacer","name":"spacer","group":"35108753.bb9618","order":8,"width":1,"height":1},{"id":"74c95841.8f27a8","type":"ui_spacer","name":"spacer","group":"35108753.bb9618","order":4,"width":1,"height":1},{"id":"2804b0ce.ecbf3","type":"ui_group","z":"","name":"4호 차트","tab":"f8df469.65641b8","order":1,"disp":true,"width":22,"collapse":false},{"id":"694ec071.a5925","type":"ui_spacer","name":"spacer","group":"2804b0ce.ecbf3","order":4,"width":1,"height":1},{"id":"1b9b68c0.2c5cd7","type":"ui_spacer","name":"spacer","group":"2804b0ce.ecbf3","order":8,"width":1,"height":1},{"id":"b49fb87.1713748","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e8843e51.5fc94","type":"ui_spacer","name":"spacer","group":"a9008416.ac5f78","order":1,"width":1,"height":1},{"id":"cb51b52c.1600b8","type":"ui_spacer","name":"spacer","group":"a9008416.ac5f78","order":3,"width":1,"height":1},{"id":"8b388b52.4eeb58","type":"ui_spacer","name":"spacer","group":"a9008416.ac5f78","order":4,"width":1,"height":1},{"id":"298cacd4.a1d8c4","type":"ui_spacer","name":"spacer","group":"a9008416.ac5f78","order":5,"width":1,"height":1},{"id":"e9e17496.c02308","type":"ui_spacer","name":"spacer","group":"a9008416.ac5f78","order":6,"width":1,"height":1},{"id":"e8efb451.1b2878","type":"ui_spacer","name":"spacer","group":"a9008416.ac5f78","order":8,"width":1,"height":1},{"id":"9cce612.7a7fea","type":"ui_spacer","name":"spacer","group":"a9008416.ac5f78","order":9,"width":1,"height":1},{"id":"bc12a0ba.a6f23","type":"ui_spacer","name":"spacer","group":"a9008416.ac5f78","order":10,"width":1,"height":1},{"id":"f70c3685.ad4998","type":"ui_spacer","name":"spacer","group":"a9008416.ac5f78","order":11,"width":1,"height":1},{"id":"dfd3e8e.b91cc18","type":"ui_spacer","name":"spacer","group":"a9008416.ac5f78","order":13,"width":1,"height":1},{"id":"2840e9a6.3af8b6","type":"ui_spacer","name":"spacer","group":"a9008416.ac5f78","order":14,"width":1,"height":1},{"id":"2033f60b.fc33ea","type":"ui_spacer","name":"spacer","group":"a9008416.ac5f78","order":15,"width":1,"height":1},{"id":"c837ed80.c1b44","type":"ui_spacer","name":"spacer","group":"b1d5adb8.3f229","order":1,"width":1,"height":1},{"id":"6c303908.fc7d28","type":"ui_spacer","name":"spacer","group":"b1d5adb8.3f229","order":3,"width":1,"height":1},{"id":"2f0e8516.e2f87a","type":"ui_spacer","name":"spacer","group":"b1d5adb8.3f229","order":4,"width":1,"height":1},{"id":"95438b77.4bf5d8","type":"ui_spacer","name":"spacer","group":"b1d5adb8.3f229","order":5,"width":1,"height":1},{"id":"32cf7ba8.d9f134","type":"ui_spacer","name":"spacer","group":"b1d5adb8.3f229","order":6,"width":1,"height":1},{"id":"6230b58c.15fc7c","type":"ui_spacer","name":"spacer","group":"b1d5adb8.3f229","order":8,"width":1,"height":1},{"id":"ca169736.08cc48","type":"ui_spacer","name":"spacer","group":"b1d5adb8.3f229","order":9,"width":1,"height":1},{"id":"8122a452.8882e8","type":"ui_spacer","name":"spacer","group":"b1d5adb8.3f229","order":10,"width":1,"height":1},{"id":"daa968e.2f56098","type":"ui_spacer","name":"spacer","group":"b1d5adb8.3f229","order":11,"width":1,"height":1},{"id":"ea3c12cd.7e909","type":"ui_spacer","name":"spacer","group":"b1d5adb8.3f229","order":13,"width":1,"height":1},{"id":"25667f86.bba9e","type":"ui_spacer","name":"spacer","group":"b1d5adb8.3f229","order":14,"width":1,"height":1},{"id":"eb6e5048.7d46f","type":"ui_spacer","name":"spacer","group":"b1d5adb8.3f229","order":15,"width":1,"height":1},{"id":"95822cb7.7f465","type":"ui_spacer","name":"spacer","group":"739e2803.5a1a58","order":1,"width":1,"height":1},{"id":"944813d5.b458e","type":"ui_spacer","name":"spacer","group":"739e2803.5a1a58","order":3,"width":1,"height":1},{"id":"b90a6171.c7b34","type":"ui_spacer","name":"spacer","group":"739e2803.5a1a58","order":4,"width":1,"height":1},{"id":"dc66c41.fa4a638","type":"ui_spacer","name":"spacer","group":"739e2803.5a1a58","order":5,"width":1,"height":1},{"id":"3cd6d910.f845a6","type":"ui_spacer","name":"spacer","group":"739e2803.5a1a58","order":6,"width":1,"height":1},{"id":"975d454d.0473e8","type":"ui_spacer","name":"spacer","group":"739e2803.5a1a58","order":8,"width":1,"height":1},{"id":"dd35a8ed.9f8cf8","type":"ui_spacer","name":"spacer","group":"739e2803.5a1a58","order":9,"width":1,"height":1},{"id":"298f1cc8.a619a4","type":"ui_spacer","name":"spacer","group":"739e2803.5a1a58","order":10,"width":1,"height":1},{"id":"2a9f87bd.1ff3f8","type":"ui_spacer","name":"spacer","group":"739e2803.5a1a58","order":11,"width":1,"height":1},{"id":"fbe949f1.f7bcc8","type":"ui_spacer","name":"spacer","group":"739e2803.5a1a58","order":13,"width":1,"height":1},{"id":"4cd1673c.02b278","type":"ui_spacer","name":"spacer","group":"739e2803.5a1a58","order":14,"width":1,"height":1},{"id":"adefda36.016f08","type":"ui_spacer","name":"spacer","group":"739e2803.5a1a58","order":15,"width":1,"height":1},{"id":"2f266adc.011186","type":"mqtt in","z":"22a449b3.6d5976","name":"Acc_X","topic":"/RotaryCook1Sensor1/XAcc","qos":"1","datatype":"auto","broker":"5f1a387e.6e5f88","x":110,"y":60,"wires":[["f391c8da.1129a8"]]},{"id":"2ab60a31.3d6d36","type":"mqtt in","z":"22a449b3.6d5976","name":"Acc_Y","topic":"/RotaryCook1Sensor1/YAcc","qos":"1","datatype":"auto","broker":"5f1a387e.6e5f88","x":107.9999885559082,"y":111.33330726623535,"wires":[["f391c8da.1129a8"]]},{"id":"a57ca342.34063","type":"mqtt in","z":"22a449b3.6d5976","name":"Acc_Z","topic":"/RotaryCook1Sensor1/ZAcc","qos":"2","datatype":"auto","broker":"5f1a387e.6e5f88","x":110,"y":163.22221851348877,"wires":[["f391c8da.1129a8"]]},{"id":"f391c8da.1129a8","type":"join","z":"22a449b3.6d5976","name":"Join Sensor Data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":359.99998474121094,"y":142.22221851348877,"wires":[["8749ab9.faaa558","88294ae8.10a198"]]},{"id":"8749ab9.faaa558","type":"influxdb out","z":"22a449b3.6d5976","influxdb":"1da46804.afa2a8","name":"InfuxDB-Intrusion-Data","measurement":"insert_data","precision":"","retentionPolicy":"","x":594.1111221313477,"y":226.99996376037598,"wires":[]},{"id":"88294ae8.10a198","type":"debug","z":"22a449b3.6d5976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":584.3333587646484,"y":68.55553817749023,"wires":[]},{"id":"3307457a.68503a","type":"mqtt in","z":"22a449b3.6d5976","name":"Temp","topic":"/RotaryCook1Sensor1/Temp","qos":"1","datatype":"auto","broker":"5f1a387e.6e5f88","x":109.22220611572266,"y":220.1110668182373,"wires":[["f391c8da.1129a8"]]},{"id":"c062d658.19f1c8","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 X축 가속도(No.1)","group":"a9008416.ac5f78","order":2,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">X축 감도(No.1)</font>","label":"units","format":"{{value}}","min":"-2000","max":"-1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":40,"wires":[]},{"id":"3eacef4b.b392f","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 X축 가속도","topic":"RotaryCook1Sensor1/XAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":40,"wires":[["c062d658.19f1c8","564fb351.ad9a8c","a51bb7e6.977e18"]]},{"id":"564fb351.ad9a8c","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 X축 가속도(No.1)","group":"a9008416.ac5f78","order":16,"width":5,"height":3,"label":"<font size=\"2\">X축 진동폭(No.1)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":40,"wires":[[]]},{"id":"f17ceb33.4d89a8","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 Y축 가속도(No.1)","group":"b1d5adb8.3f229","order":2,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Y축 감도(No.1)</font>","label":"units","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":100,"wires":[]},{"id":"3f101131.0725ce","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 Y축 가속도","topic":"RotaryCook1Sensor1/YAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":100,"wires":[["f17ceb33.4d89a8","c3c0c81b.94e978","a6e771ea.e22bb"]]},{"id":"c3c0c81b.94e978","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 Y축 가속도(No.1)","group":"b1d5adb8.3f229","order":16,"width":5,"height":3,"label":"<font size=\"2\">Y축 진동폭(No.1)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":100,"wires":[[]]},{"id":"581cad4a.3ff7c4","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 Z축 가속도(No.1)","group":"739e2803.5a1a58","order":2,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Z축 감도(No.1)</font>","label":"units","format":"{{value}}","min":"14000","max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":160,"wires":[]},{"id":"cd9348ac.d12cb8","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 Z축 가속도","topic":"RotaryCook1Sensor1/ZAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":160,"wires":[["581cad4a.3ff7c4","bf196855.6e7518","532715a9.1de8ac"]]},{"id":"bf196855.6e7518","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 Z축 가속도(No.1)","group":"739e2803.5a1a58","order":16,"width":5,"height":3,"label":"<font size=\"2\">Z축 진동폭(No.1)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":160,"wires":[[]]},{"id":"f0353705.8e27e8","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 진동센서 온도","topic":"RotaryCook1Sensor1/Temp","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":140,"y":220,"wires":[["701b0e12.7fae9"]]},{"id":"37263c84.139824","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 X축 가속도(No.2)","group":"a9008416.ac5f78","order":7,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">X축 감도(No.2)</font>","label":"units","format":"{{value}}","min":"-18000","max":"-17000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":320,"wires":[]},{"id":"9eb243f4.ec4b1","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 X축 가속도","topic":"RotaryCook1Sensor2/XAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":320,"wires":[["37263c84.139824","dac3e4e6.d4db08","f9341ff3.3f789"]]},{"id":"dac3e4e6.d4db08","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 X축 가속도(No.2)","group":"a9008416.ac5f78","order":17,"width":5,"height":3,"label":"<font size=\"2\">X축 진동폭(No.2)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#20608d","#385e8f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":320,"wires":[[]]},{"id":"3d4decbd.e6d3d4","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 Y축 가속도(No.2)","group":"b1d5adb8.3f229","order":7,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Y축 감도(No.2)</font>","label":"units","format":"{{value}}","min":"-1000","max":"-0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":380,"wires":[]},{"id":"6511360d.aa4668","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 Y축 가속도","topic":"RotaryCook1Sensor2/YAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":380,"wires":[["3d4decbd.e6d3d4","37a0ab7.4a7e554","1ea756.4b4458ab"]]},{"id":"37a0ab7.4a7e554","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 Y축 가속도(No.2)","group":"b1d5adb8.3f229","order":17,"width":5,"height":3,"label":"<font size=\"2\">Y축 진동폭(No.2)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#22689b","#427ac2","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":380,"wires":[[]]},{"id":"3aa83aba.4bc226","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 Z축 가속도(No.2)","group":"739e2803.5a1a58","order":7,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Z축 감도(No.2)</font>","label":"units","format":"{{value}}","min":"-4000","max":"-3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":440,"wires":[]},{"id":"6bee98a5.0d79f8","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 Z축 가속도","topic":"RotaryCook1Sensor2/ZAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":440,"wires":[["3aa83aba.4bc226","bcd6b1db.63a04","18273bc3.03d8a4"]]},{"id":"bcd6b1db.63a04","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 Z축 가속도(No.2)","group":"739e2803.5a1a58","order":17,"width":5,"height":3,"label":"<font size=\"2\">Z축 진동폭(No.2)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2571a7","#3a69a6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":440,"wires":[[]]},{"id":"bca1a8d7.773288","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 진동센서 온도","topic":"RotaryCook1Sensor2/Temp","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":140,"y":500,"wires":[["388b4643.eba7aa"]]},{"id":"f6b361db.05fb1","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 X축 가속도(No.3)","group":"a9008416.ac5f78","order":12,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">X축 감도(No.3)</font>","label":"units","format":"{{value}}","min":"-16500","max":"-15500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":600,"wires":[]},{"id":"80f7c143.bbd1b","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 X축 가속도","topic":"RotaryCook1Sensor3/XAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":600,"wires":[["f6b361db.05fb1","180976dd.83d109","6bfedae8.2295f4"]]},{"id":"180976dd.83d109","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 X축 가속도(No.3)","group":"a9008416.ac5f78","order":18,"width":5,"height":3,"label":"<font size=\"2\">X축 진동폭(No.3)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":600,"wires":[[]]},{"id":"23696578.0bd3ba","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 Y축 가속도(No.3)","group":"b1d5adb8.3f229","order":12,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Y축 감도(No.3)</font>","label":"units","format":"{{value}}","min":"-1500","max":"-500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":660,"wires":[]},{"id":"e3fed5b1.59b868","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 Y축 가속도","topic":"RotaryCook1Sensor3/YAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":660,"wires":[["23696578.0bd3ba","f87be271.dfe9a","93dc2f6.bef67d"]]},{"id":"f87be271.dfe9a","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 Y축 가속도(No.3)","group":"b1d5adb8.3f229","order":18,"width":5,"height":3,"label":"<font size=\"2\">Y축 진동폭(No.3)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":660,"wires":[[]]},{"id":"1d29a00e.3c0ac","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 Z축 가속도(No.3)","group":"739e2803.5a1a58","order":12,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Z축 감도(No.3)</font>","label":"units","format":"{{value}}","min":"-4000","max":"-3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":720,"wires":[]},{"id":"ac751892.a1db68","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 Z축 가속도","topic":"RotaryCook1Sensor3/ZAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":720,"wires":[["1d29a00e.3c0ac","42d1f7e7.d75df8","e0d49d04.4e944"]]},{"id":"42d1f7e7.d75df8","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 Z축 가속도(No.3)","group":"739e2803.5a1a58","order":18,"width":5,"height":3,"label":"<font size=\"2\">Z축 진동폭(No.3)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":720,"wires":[[]]},{"id":"a07e949e.139ab8","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 진동센서 온도","topic":"RotaryCook1Sensor3/Temp","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":140,"y":780,"wires":[["3fa20b.0e1dadf6"]]},{"id":"3fa20b.0e1dadf6","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"진동센서 온도(No.3)","group":"b038e2e5.35d3f","order":5,"width":5,"height":3,"label":"<font size=\"2\">온도 변동폭(No.3)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":780,"wires":[[]]},{"id":"388b4643.eba7aa","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"진동센서 온도(No.2)","group":"b038e2e5.35d3f","order":4,"width":5,"height":3,"label":"<font size=\"2\">온도 변동폭(No.2)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2c4a72","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":500,"wires":[[]]},{"id":"39fa37f6.4bd7e8","type":"ui_template","z":"d73865ad.4c2998","group":"457babc9.91a9a4","name":"ESP32-CAM","order":0,"width":"0","height":"0","format":"<div>\n    <img src=\"http://49.168.145.8:19134/mjpeg/1\" width=\"310\" height=\"250\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":350,"y":200,"wires":[[]]},{"id":"9a7c3cdd.bf6ba","type":"ui_gauge","z":"1d26cda.c0a9932","name":"게이지_증자1호 X축 가속도(No.1)","group":"fb2bdbf4.08a018","order":1,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.1)","label":"units","format":"{{value}}","min":"500","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":60,"wires":[]},{"id":"b500dec1.b2f43","type":"mqtt in","z":"1d26cda.c0a9932","name":"증자1호 X축 가속도","topic":"RotaryCook2Sensor1/XAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":60,"wires":[["9a7c3cdd.bf6ba","5b3444e9.362e7c","96708f41.a965"]]},{"id":"5b3444e9.362e7c","type":"ui_chart","z":"1d26cda.c0a9932","name":"증자1호 X축 가속도(No.1)","group":"fb2bdbf4.08a018","order":4,"width":0,"height":0,"label":"X축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":60,"wires":[[]]},{"id":"6cd62706.58be18","type":"ui_gauge","z":"1d26cda.c0a9932","name":"게이지_증자1호 Y축 가속도(No.1)","group":"207119f0.5c8a56","order":1,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.1)","label":"units","format":"{{value}}","min":"-8000","max":"-6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":120,"wires":[]},{"id":"c318678.9bcb598","type":"mqtt in","z":"1d26cda.c0a9932","name":"증자1호 Y축 가속도","topic":"RotaryCook2Sensor1/YAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":120,"wires":[["6cd62706.58be18","fa269535.87e1c8","f0f2c12.94ee04"]]},{"id":"fa269535.87e1c8","type":"ui_chart","z":"1d26cda.c0a9932","name":"증자1호 Y축 가속도(No.1)","group":"207119f0.5c8a56","order":4,"width":0,"height":0,"label":"Y축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":120,"wires":[[]]},{"id":"5e211d51.0ec924","type":"ui_gauge","z":"1d26cda.c0a9932","name":"게이지_증자1호 Z축 가속도(No.1)","group":"fedc36e2.ff5018","order":1,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.1)","label":"units","format":"{{value}}","min":"14000","max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":180,"wires":[]},{"id":"f09f54a9.407e58","type":"mqtt in","z":"1d26cda.c0a9932","name":"증자1호 Z축 가속도","topic":"RotaryCook2Sensor1/ZAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":180,"wires":[["5e211d51.0ec924","185d696e.ae9277","13792514.fa1ccb"]]},{"id":"185d696e.ae9277","type":"ui_chart","z":"1d26cda.c0a9932","name":"증자1호 Z축 가속도(No.1)","group":"fedc36e2.ff5018","order":4,"width":0,"height":0,"label":"Z축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":180,"wires":[[]]},{"id":"40f7b551.2b022c","type":"mqtt in","z":"1d26cda.c0a9932","name":"증자1호 진동센서 온도","topic":"RotaryCook2Sensor1/Temp","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":140,"y":240,"wires":[["aeced3ed.19785","d5e7b677.e76838"]]},{"id":"aeced3ed.19785","type":"ui_gauge","z":"1d26cda.c0a9932","name":"게이지_진동센서 온도(No.1)","group":"2d5726a5.35b13a","order":1,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.1)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":240,"wires":[]},{"id":"d5e7b677.e76838","type":"ui_chart","z":"1d26cda.c0a9932","name":"온도 변동폭(No.1)","group":"2d5726a5.35b13a","order":4,"width":0,"height":0,"label":"온도 변동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":240,"wires":[[]]},{"id":"611f6435.0b58ac","type":"ui_gauge","z":"1d26cda.c0a9932","name":"게이지_증자1호 X축 가속도(No.2)","group":"fb2bdbf4.08a018","order":2,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.2)","label":"units","format":"{{value}}","min":"-16500","max":"-15500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":340,"wires":[]},{"id":"e77c36a7.2200c8","type":"mqtt in","z":"1d26cda.c0a9932","name":"증자1호 X축 가속도","topic":"RotaryCook2Sensor2/XAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":340,"wires":[["611f6435.0b58ac","d9f30e.74eb2cf","ac4d5960.ca6f58"]]},{"id":"d9f30e.74eb2cf","type":"ui_chart","z":"1d26cda.c0a9932","name":"증자1호 X축 가속도(No.2)","group":"fb2bdbf4.08a018","order":5,"width":0,"height":0,"label":"X축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#20608d","#385e8f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":340,"wires":[[]]},{"id":"f24b4a2b.ebad58","type":"ui_gauge","z":"1d26cda.c0a9932","name":"게이지_증자1호 Y축 가속도(No.2)","group":"207119f0.5c8a56","order":2,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.2)","label":"units","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":400,"wires":[]},{"id":"705f2306.2b677c","type":"mqtt in","z":"1d26cda.c0a9932","name":"증자1호 Y축 가속도","topic":"RotaryCook2Sensor2/YAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":400,"wires":[["f24b4a2b.ebad58","24149d4c.dd5642","35ec6d16.7ab132"]]},{"id":"24149d4c.dd5642","type":"ui_chart","z":"1d26cda.c0a9932","name":"증자1호 Y축 가속도(No.2)","group":"207119f0.5c8a56","order":5,"width":0,"height":0,"label":"Y축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#22689b","#427ac2","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":400,"wires":[[]]},{"id":"9d488bc.3465278","type":"ui_gauge","z":"1d26cda.c0a9932","name":"게이지_증자1호 Z축 가속도(No.2)","group":"fedc36e2.ff5018","order":2,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.2)","label":"units","format":"{{value}}","min":"0","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":460,"wires":[]},{"id":"50befefb.ad3cd","type":"mqtt in","z":"1d26cda.c0a9932","name":"증자1호 Z축 가속도","topic":"RotaryCook2Sensor2/ZAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":460,"wires":[["9d488bc.3465278","466a5c3e.b9a354","59b10f80.c73d4"]]},{"id":"466a5c3e.b9a354","type":"ui_chart","z":"1d26cda.c0a9932","name":"증자1호 Z축 가속도(No.2)","group":"fedc36e2.ff5018","order":5,"width":0,"height":0,"label":"Z축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2571a7","#3a69a6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":460,"wires":[[]]},{"id":"746136c5.f6ddb8","type":"mqtt in","z":"1d26cda.c0a9932","name":"증자1호 진동센서 온도","topic":"RotaryCook2Sensor2/Temp","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":140,"y":520,"wires":[["5cc635f0.1dd5ac","f82d2a82.6db6e8"]]},{"id":"4a5b46e.58e95b8","type":"ui_gauge","z":"1d26cda.c0a9932","name":"게이지_증자1호 X축 가속도(No.3)","group":"fb2bdbf4.08a018","order":3,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.3)","label":"units","format":"{{value}}","min":"-16000","max":"-15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":620,"wires":[]},{"id":"4180e663.473868","type":"mqtt in","z":"1d26cda.c0a9932","name":"증자1호 X축 가속도","topic":"RotaryCook2Sensor3/XAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":620,"wires":[["4a5b46e.58e95b8","578cd425.fbbc7c","944ce7f0.8f19c8"]]},{"id":"578cd425.fbbc7c","type":"ui_chart","z":"1d26cda.c0a9932","name":"증자1호 X축 가속도(No.3)","group":"fb2bdbf4.08a018","order":6,"width":0,"height":0,"label":"X축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":620,"wires":[[]]},{"id":"7a0cced8.87e24","type":"ui_gauge","z":"1d26cda.c0a9932","name":"게이지_증자1호 Y축 가속도(No.3)","group":"207119f0.5c8a56","order":3,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.3)","label":"units","format":"{{value}}","min":"0","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":680,"wires":[]},{"id":"39268e2a.13dd82","type":"mqtt in","z":"1d26cda.c0a9932","name":"증자1호 Y축 가속도","topic":"RotaryCook2Sensor3/YAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":680,"wires":[["7a0cced8.87e24","91445fa5.4b393","a742bcd5.d7223"]]},{"id":"91445fa5.4b393","type":"ui_chart","z":"1d26cda.c0a9932","name":"증자1호 Y축 가속도(No.3)","group":"207119f0.5c8a56","order":6,"width":0,"height":0,"label":"Y축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":680,"wires":[[]]},{"id":"ec03d488.d69e48","type":"ui_gauge","z":"1d26cda.c0a9932","name":"게이지_증자1호 Z축 가속도(No.3)","group":"fedc36e2.ff5018","order":3,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.3)","label":"units","format":"{{value}}","min":"-2500","max":"-1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":740,"wires":[]},{"id":"98630dca.b10de","type":"mqtt in","z":"1d26cda.c0a9932","name":"증자1호 Z축 가속도","topic":"RotaryCook2Sensor3/ZAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":740,"wires":[["ec03d488.d69e48","2984bebc.9f3712","5ffcb6da.85ebe8"]]},{"id":"2984bebc.9f3712","type":"ui_chart","z":"1d26cda.c0a9932","name":"증자1호 Z축 가속도(No.3)","group":"fedc36e2.ff5018","order":6,"width":0,"height":0,"label":"Z축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":740,"wires":[[]]},{"id":"54263bcc.2f7a44","type":"mqtt in","z":"1d26cda.c0a9932","name":"증자1호 진동센서 온도","topic":"RotaryCook2Sensor3/Temp","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":120,"y":800,"wires":[["4ea29c66.b1ad04","e5d9b1fe.d45c5"]]},{"id":"4ea29c66.b1ad04","type":"ui_gauge","z":"1d26cda.c0a9932","name":"게이지_진동센서 온도(No.3)","group":"2d5726a5.35b13a","order":3,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.3)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":800,"wires":[]},{"id":"e5d9b1fe.d45c5","type":"ui_chart","z":"1d26cda.c0a9932","name":"진동센서 온도(No.3)","group":"2d5726a5.35b13a","order":5,"width":0,"height":0,"label":"온도 변동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":800,"wires":[[]]},{"id":"5cc635f0.1dd5ac","type":"ui_chart","z":"1d26cda.c0a9932","name":"진동센서 온도(No.2)","group":"2d5726a5.35b13a","order":6,"width":0,"height":0,"label":"온도 변동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2c4a72","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":520,"wires":[[]]},{"id":"f82d2a82.6db6e8","type":"ui_gauge","z":"1d26cda.c0a9932","name":"게이지_진동센서 온도(No.2)","group":"2d5726a5.35b13a","order":2,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.2)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":520,"wires":[]},{"id":"95243919.507788","type":"ui_gauge","z":"26f040e6.9ab2e","name":"게이지_증자1호 X축 가속도(No.1)","group":"ef399815.769f38","order":1,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.1)","label":"units","format":"{{value}}","min":"-2000","max":"-1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":40,"wires":[]},{"id":"a2ca15d3.aff898","type":"mqtt in","z":"26f040e6.9ab2e","name":"증자1호 X축 가속도","topic":"RotaryCook3Sensor1/XAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":40,"wires":[["95243919.507788","3d561c16.32ffe4","9d6d4031.8fe"]]},{"id":"3d561c16.32ffe4","type":"ui_chart","z":"26f040e6.9ab2e","name":"증자1호 X축 가속도(No.1)","group":"ef399815.769f38","order":4,"width":0,"height":0,"label":"X축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":40,"wires":[[]]},{"id":"9a490e0c.1047","type":"ui_gauge","z":"26f040e6.9ab2e","name":"게이지_증자1호 Y축 가속도(No.1)","group":"c2f2b561.1b5568","order":1,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.1)","label":"units","format":"{{value}}","min":"500","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":100,"wires":[]},{"id":"e7926e81.32cbf","type":"mqtt in","z":"26f040e6.9ab2e","name":"증자1호 Y축 가속도","topic":"RotaryCook3Sensor1/YAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":100,"wires":[["9a490e0c.1047","f8de630a.119c4","d9596847.4b0b68"]]},{"id":"f8de630a.119c4","type":"ui_chart","z":"26f040e6.9ab2e","name":"증자1호 Y축 가속도(No.1)","group":"c2f2b561.1b5568","order":4,"width":0,"height":0,"label":"Y축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":100,"wires":[[]]},{"id":"73a8d8da.560cb8","type":"ui_gauge","z":"26f040e6.9ab2e","name":"게이지_증자1호 Z축 가속도(No.1)","group":"b982f7cd.ef3778","order":1,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.1)","label":"units","format":"{{value}}","min":"15500","max":"16500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":160,"wires":[]},{"id":"79165fe5.482cc","type":"mqtt in","z":"26f040e6.9ab2e","name":"증자1호 Z축 가속도","topic":"RotaryCook3Sensor1/ZAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":160,"wires":[["73a8d8da.560cb8","e6432dda.151c1","c1ea650b.faf438"]]},{"id":"e6432dda.151c1","type":"ui_chart","z":"26f040e6.9ab2e","name":"증자1호 Z축 가속도(No.1)","group":"b982f7cd.ef3778","order":4,"width":0,"height":0,"label":"Z축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":160,"wires":[[]]},{"id":"49e0fdae.219f04","type":"mqtt in","z":"26f040e6.9ab2e","name":"증자1호 진동센서 온도","topic":"RotaryCook3Sensor1/Temp","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":120,"y":220,"wires":[["98d39a6f.476818","a3977ee5.a54bb"]]},{"id":"98d39a6f.476818","type":"ui_gauge","z":"26f040e6.9ab2e","name":"게이지_진동센서 온도(No.1)","group":"6a46d623.030b58","order":1,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.1)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":220,"wires":[]},{"id":"a3977ee5.a54bb","type":"ui_chart","z":"26f040e6.9ab2e","name":"온도 변동폭(No.1)","group":"6a46d623.030b58","order":4,"width":0,"height":0,"label":"온도 변동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":220,"wires":[[]]},{"id":"53e5fad1.ee21a4","type":"ui_gauge","z":"26f040e6.9ab2e","name":"게이지_증자1호 X축 가속도(No.2)","group":"ef399815.769f38","order":2,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.2)","label":"units","format":"{{value}}","min":"-16500","max":"-15500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":320,"wires":[]},{"id":"4493376a.7f03a8","type":"mqtt in","z":"26f040e6.9ab2e","name":"증자1호 X축 가속도","topic":"RotaryCook3Sensor2/XAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":320,"wires":[["53e5fad1.ee21a4","605dacee.f67844","eb1759e7.5d9a28"]]},{"id":"605dacee.f67844","type":"ui_chart","z":"26f040e6.9ab2e","name":"증자1호 X축 가속도(No.2)","group":"ef399815.769f38","order":5,"width":0,"height":0,"label":"X축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#20608d","#385e8f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":320,"wires":[[]]},{"id":"c8fd63d8.9ed6e","type":"ui_gauge","z":"26f040e6.9ab2e","name":"게이지_증자1호 Y축 가속도(No.2)","group":"c2f2b561.1b5568","order":2,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.2)","label":"units","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":380,"wires":[]},{"id":"d961a2e3.a911c","type":"mqtt in","z":"26f040e6.9ab2e","name":"증자1호 Y축 가속도","topic":"RotaryCook3Sensor2/YAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":380,"wires":[["c8fd63d8.9ed6e","6edddeff.13509","bd90df2f.1e5c2"]]},{"id":"6edddeff.13509","type":"ui_chart","z":"26f040e6.9ab2e","name":"증자1호 Y축 가속도(No.2)","group":"c2f2b561.1b5568","order":5,"width":0,"height":0,"label":"Y축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#22689b","#427ac2","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":380,"wires":[[]]},{"id":"e5d3c4a4.f9f328","type":"ui_gauge","z":"26f040e6.9ab2e","name":"게이지_증자1호 Z축 가속도(No.2)","group":"b982f7cd.ef3778","order":2,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.2)","label":"units","format":"{{value}}","min":"-1500","max":"-500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":440,"wires":[]},{"id":"930daa30.74ddf8","type":"mqtt in","z":"26f040e6.9ab2e","name":"증자1호 Z축 가속도","topic":"RotaryCook3Sensor2/ZAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":440,"wires":[["e5d3c4a4.f9f328","884ec1fd.98d98","f0e7b14c.cf522"]]},{"id":"884ec1fd.98d98","type":"ui_chart","z":"26f040e6.9ab2e","name":"증자1호 Z축 가속도(No.2)","group":"b982f7cd.ef3778","order":5,"width":0,"height":0,"label":"Z축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2571a7","#3a69a6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":440,"wires":[[]]},{"id":"e04cf415.8d8e98","type":"mqtt in","z":"26f040e6.9ab2e","name":"증자1호 진동센서 온도","topic":"RotaryCook3Sensor2/Temp","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":120,"y":500,"wires":[["bda5700a.f8f7d","71f8165a.30f178"]]},{"id":"58c0b864.716408","type":"ui_gauge","z":"26f040e6.9ab2e","name":"게이지_증자1호 X축 가속도(No.3)","group":"ef399815.769f38","order":3,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.3)","label":"units","format":"{{value}}","min":"-16500","max":"-15500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":600,"wires":[]},{"id":"2a7db126.b8c44e","type":"mqtt in","z":"26f040e6.9ab2e","name":"증자1호 X축 가속도","topic":"RotaryCook3Sensor3/XAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":600,"wires":[["58c0b864.716408","9da071de.9ce32","ac7eadc2.674b9"]]},{"id":"9da071de.9ce32","type":"ui_chart","z":"26f040e6.9ab2e","name":"증자1호 X축 가속도(No.3)","group":"ef399815.769f38","order":6,"width":0,"height":0,"label":"X축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":600,"wires":[[]]},{"id":"1b3cb95a.a70817","type":"ui_gauge","z":"26f040e6.9ab2e","name":"게이지_증자1호 Y축 가속도(No.3)","group":"c2f2b561.1b5568","order":3,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.3)","label":"units","format":"{{value}}","min":"-1000","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":660,"wires":[]},{"id":"c92d0c9f.99e19","type":"mqtt in","z":"26f040e6.9ab2e","name":"증자1호 Y축 가속도","topic":"RotaryCook3Sensor3/YAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":660,"wires":[["1b3cb95a.a70817","78bca755.e23aa8","398d24ca.ee9f1c"]]},{"id":"78bca755.e23aa8","type":"ui_chart","z":"26f040e6.9ab2e","name":"증자1호 Y축 가속도(No.3)","group":"c2f2b561.1b5568","order":6,"width":0,"height":0,"label":"Y축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":660,"wires":[[]]},{"id":"abffdc35.305e7","type":"ui_gauge","z":"26f040e6.9ab2e","name":"게이지_증자1호 Z축 가속도(No.3)","group":"b982f7cd.ef3778","order":3,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.3)","label":"units","format":"{{value}}","min":"-2500","max":"-1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":720,"wires":[]},{"id":"7bc54751.90e628","type":"mqtt in","z":"26f040e6.9ab2e","name":"증자1호 Z축 가속도","topic":"RotaryCook3Sensor3/ZAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":720,"wires":[["abffdc35.305e7","94e3388a.1eb498","53d3ab8c.ecfd34"]]},{"id":"94e3388a.1eb498","type":"ui_chart","z":"26f040e6.9ab2e","name":"증자1호 Z축 가속도(No.3)","group":"b982f7cd.ef3778","order":6,"width":0,"height":0,"label":"Z축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":720,"wires":[[]]},{"id":"aa8fea8b.a935d8","type":"mqtt in","z":"26f040e6.9ab2e","name":"증자1호 진동센서 온도","topic":"RotaryCook3Sensor3/Temp","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":120,"y":780,"wires":[["58725ecc.e4b54","e08c3c25.0355d"]]},{"id":"58725ecc.e4b54","type":"ui_gauge","z":"26f040e6.9ab2e","name":"게이지_진동센서 온도(No.3)","group":"6a46d623.030b58","order":3,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.3)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":780,"wires":[]},{"id":"e08c3c25.0355d","type":"ui_chart","z":"26f040e6.9ab2e","name":"진동센서 온도(No.3)","group":"6a46d623.030b58","order":5,"width":0,"height":0,"label":"온도 변동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":780,"wires":[[]]},{"id":"bda5700a.f8f7d","type":"ui_chart","z":"26f040e6.9ab2e","name":"진동센서 온도(No.2)","group":"6a46d623.030b58","order":6,"width":0,"height":0,"label":"온도 변동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2c4a72","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":500,"wires":[[]]},{"id":"71f8165a.30f178","type":"ui_gauge","z":"26f040e6.9ab2e","name":"게이지_진동센서 온도(No.2)","group":"6a46d623.030b58","order":2,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.2)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":500,"wires":[]},{"id":"4d564748.7d8ee8","type":"ui_gauge","z":"219560fd.177a1","name":"게이지_증자1호 X축 가속도(No.1)","group":"e4df2bfb.da5108","order":1,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.1)","label":"units","format":"{{value}}","min":"-8200","max":"-7200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":40,"wires":[]},{"id":"a6cbe442.aa1e48","type":"mqtt in","z":"219560fd.177a1","name":"증자1호 X축 가속도","topic":"RotaryCook4Sensor1/XAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":40,"wires":[["4d564748.7d8ee8","44585560.46af1c","b97b46a0.84a888"]]},{"id":"44585560.46af1c","type":"ui_chart","z":"219560fd.177a1","name":"증자1호 X축 가속도(No.1)","group":"e4df2bfb.da5108","order":4,"width":0,"height":0,"label":"X축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":40,"wires":[[]]},{"id":"612bad08.0faed4","type":"ui_gauge","z":"219560fd.177a1","name":"게이지_증자1호 Y축 가속도(No.1)","group":"f302b5b8.cd77a8","order":1,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.1)","label":"units","format":"{{value}}","min":"-2700","max":"-1700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":100,"wires":[]},{"id":"dea54ff7.cea4c","type":"mqtt in","z":"219560fd.177a1","name":"증자1호 Y축 가속도","topic":"RotaryCook4Sensor1/YAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":100,"wires":[["612bad08.0faed4","e3f31cb9.17505","b2973c21.246f1"]]},{"id":"e3f31cb9.17505","type":"ui_chart","z":"219560fd.177a1","name":"증자1호 Y축 가속도(No.1)","group":"f302b5b8.cd77a8","order":4,"width":0,"height":0,"label":"Y축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":100,"wires":[[]]},{"id":"d207ddde.d1182","type":"ui_gauge","z":"219560fd.177a1","name":"게이지_증자1호 Z축 가속도(No.1)","group":"3dffc255.06afbe","order":1,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.1)","label":"units","format":"{{value}}","min":"13500","max":"14500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":160,"wires":[]},{"id":"f3937984.dbacd8","type":"mqtt in","z":"219560fd.177a1","name":"증자1호 Z축 가속도","topic":"RotaryCook4Sensor1/ZAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":160,"wires":[["d207ddde.d1182","62c68087.41a1d","4b171c82.abb094"]]},{"id":"62c68087.41a1d","type":"ui_chart","z":"219560fd.177a1","name":"증자1호 Z축 가속도(No.1)","group":"3dffc255.06afbe","order":4,"width":0,"height":0,"label":"Z축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":160,"wires":[[]]},{"id":"427299a7.0bdd88","type":"mqtt in","z":"219560fd.177a1","name":"증자1호 진동센서 온도","topic":"RotaryCook4Sensor1/Temp","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":120,"y":220,"wires":[["5fb1dcfe.abf944","5b46631.e8a6c9c"]]},{"id":"5fb1dcfe.abf944","type":"ui_gauge","z":"219560fd.177a1","name":"게이지_진동센서 온도(No.1)","group":"73eee57a.b3fcdc","order":1,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.1)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":220,"wires":[]},{"id":"5b46631.e8a6c9c","type":"ui_chart","z":"219560fd.177a1","name":"온도 변동폭(No.1)","group":"73eee57a.b3fcdc","order":4,"width":0,"height":0,"label":"온도 변동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":220,"wires":[[]]},{"id":"7286d051.94086","type":"ui_gauge","z":"219560fd.177a1","name":"게이지_증자1호 X축 가속도(No.2)","group":"e4df2bfb.da5108","order":2,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.2)","label":"units","format":"{{value}}","min":"-16000","max":"-15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":320,"wires":[]},{"id":"8484f0.6b8d8b1","type":"mqtt in","z":"219560fd.177a1","name":"증자1호 X축 가속도","topic":"RotaryCook4Sensor2/XAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":320,"wires":[["7286d051.94086","47755c6b.a6ee44","98983e1.0a359c"]]},{"id":"47755c6b.a6ee44","type":"ui_chart","z":"219560fd.177a1","name":"증자1호 X축 가속도(No.2)","group":"e4df2bfb.da5108","order":5,"width":0,"height":0,"label":"X축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#20608d","#385e8f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":320,"wires":[[]]},{"id":"cc243317.df6cc","type":"ui_gauge","z":"219560fd.177a1","name":"게이지_증자1호 Y축 가속도(No.2)","group":"f302b5b8.cd77a8","order":2,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.2)","label":"units","format":"{{value}}","min":"-1000","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":380,"wires":[]},{"id":"c53bec9d.1051","type":"mqtt in","z":"219560fd.177a1","name":"증자1호 Y축 가속도","topic":"RotaryCook4Sensor2/YAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":380,"wires":[["cc243317.df6cc","e11125d0.3cec98","d5dc792e.afb188"]]},{"id":"e11125d0.3cec98","type":"ui_chart","z":"219560fd.177a1","name":"증자1호 Y축 가속도(No.2)","group":"f302b5b8.cd77a8","order":5,"width":0,"height":0,"label":"Y축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#22689b","#427ac2","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":380,"wires":[[]]},{"id":"ba0c9f3c.927c1","type":"ui_gauge","z":"219560fd.177a1","name":"게이지_증자1호 Z축 가속도(No.2)","group":"3dffc255.06afbe","order":2,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.2)","label":"units","format":"{{value}}","min":"-2000","max":"-1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":468,"y":440,"wires":[]},{"id":"d1dded15.af16c","type":"mqtt in","z":"219560fd.177a1","name":"증자1호 Z축 가속도","topic":"RotaryCook4Sensor2/ZAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":440,"wires":[["ba0c9f3c.927c1","e100b915.c2fd08","4b82b730.62c538"]]},{"id":"e100b915.c2fd08","type":"ui_chart","z":"219560fd.177a1","name":"증자1호 Z축 가속도(No.2)","group":"3dffc255.06afbe","order":5,"width":0,"height":0,"label":"Z축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2571a7","#3a69a6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":440,"wires":[[]]},{"id":"ed54a7d.0137058","type":"mqtt in","z":"219560fd.177a1","name":"증자1호 진동센서 온도","topic":"RotaryCook4Sensor2/Temp","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":120,"y":500,"wires":[["a2991508.a67c48","50c5f5e2.11fb2c"]]},{"id":"75ddb534.9a85ac","type":"ui_gauge","z":"219560fd.177a1","name":"게이지_증자1호 X축 가속도(No.3)","group":"e4df2bfb.da5108","order":3,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.3)","label":"units","format":"{{value}}","min":"-16500","max":"-15500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":600,"wires":[]},{"id":"ad0f77ac.625b78","type":"mqtt in","z":"219560fd.177a1","name":"증자1호 X축 가속도","topic":"RotaryCook4Sensor3/XAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":600,"wires":[["75ddb534.9a85ac","ea867264.bf33","9df2bc07.ba87b"]]},{"id":"ea867264.bf33","type":"ui_chart","z":"219560fd.177a1","name":"증자1호 X축 가속도(No.3)","group":"e4df2bfb.da5108","order":6,"width":0,"height":0,"label":"X축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":600,"wires":[[]]},{"id":"49de8c1d.6575c4","type":"ui_gauge","z":"219560fd.177a1","name":"게이지_증자1호 Y축 가속도(No.3)","group":"f302b5b8.cd77a8","order":3,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.3)","label":"units","format":"{{value}}","min":"-300","max":"700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":660,"wires":[]},{"id":"f183959.7214f68","type":"mqtt in","z":"219560fd.177a1","name":"증자1호 Y축 가속도","topic":"RotaryCook4Sensor3/YAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":660,"wires":[["49de8c1d.6575c4","f3de494.e7a77b8","9822e49d.0ce668"]]},{"id":"f3de494.e7a77b8","type":"ui_chart","z":"219560fd.177a1","name":"증자1호 Y축 가속도(No.3)","group":"f302b5b8.cd77a8","order":6,"width":0,"height":0,"label":"Y축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":660,"wires":[[]]},{"id":"fa0333f4.53d92","type":"ui_gauge","z":"219560fd.177a1","name":"게이지_증자1호 Z축 가속도(No.3)","group":"3dffc255.06afbe","order":3,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.3)","label":"units","format":"{{value}}","min":"-3000","max":"-2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":720,"wires":[]},{"id":"a84926bb.46cdc8","type":"mqtt in","z":"219560fd.177a1","name":"증자1호 Z축 가속도","topic":"RotaryCook4Sensor3/ZAcc","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":110,"y":720,"wires":[["fa0333f4.53d92","85ab2db0.3c78a","158c6a21.a2d476"]]},{"id":"85ab2db0.3c78a","type":"ui_chart","z":"219560fd.177a1","name":"증자1호 Z축 가속도(No.3)","group":"3dffc255.06afbe","order":6,"width":0,"height":0,"label":"Z축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":720,"wires":[[]]},{"id":"f5ee53b0.22ae9","type":"mqtt in","z":"219560fd.177a1","name":"증자1호 진동센서 온도","topic":"RotaryCook4Sensor3/Temp","qos":"0","datatype":"auto","broker":"c32d60a4.705ce","x":120,"y":780,"wires":[["24505c8e.5ec474","2edd06b.7ebb3fa"]]},{"id":"24505c8e.5ec474","type":"ui_gauge","z":"219560fd.177a1","name":"게이지_진동센서 온도(No.3)","group":"73eee57a.b3fcdc","order":3,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.3)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":780,"wires":[]},{"id":"2edd06b.7ebb3fa","type":"ui_chart","z":"219560fd.177a1","name":"진동센서 온도(No.3)","group":"73eee57a.b3fcdc","order":5,"width":0,"height":0,"label":"온도 변동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":780,"wires":[[]]},{"id":"a2991508.a67c48","type":"ui_chart","z":"219560fd.177a1","name":"진동센서 온도(No.2)","group":"73eee57a.b3fcdc","order":6,"width":0,"height":0,"label":"온도 변동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2c4a72","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":500,"wires":[[]]},{"id":"50c5f5e2.11fb2c","type":"ui_gauge","z":"219560fd.177a1","name":"게이지_진동센서 온도(No.2)","group":"73eee57a.b3fcdc","order":2,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.2)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":500,"wires":[]},{"id":"a51bb7e6.977e18","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"1번 센서 X축","group":"d067dd84.39cf8","order":1,"width":22,"height":5,"label":"1번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":40,"wires":[[]]},{"id":"a6e771ea.e22bb","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"1번 센서 Y축","group":"d067dd84.39cf8","order":2,"width":22,"height":5,"label":"1번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":100,"wires":[[]]},{"id":"532715a9.1de8ac","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"1번 센서 Z축","group":"d067dd84.39cf8","order":3,"width":22,"height":5,"label":"1번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":160,"wires":[[]]},{"id":"f9341ff3.3f789","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"2번 센서 X축","group":"d067dd84.39cf8","order":5,"width":22,"height":5,"label":"2번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":320,"wires":[[]]},{"id":"1ea756.4b4458ab","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"2번 센서 Y축","group":"d067dd84.39cf8","order":6,"width":22,"height":5,"label":"2번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":380,"wires":[[]]},{"id":"18273bc3.03d8a4","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"2번 센서 Z축","group":"d067dd84.39cf8","order":7,"width":22,"height":5,"label":"2번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":440,"wires":[[]]},{"id":"6bfedae8.2295f4","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"3번 센서 X축","group":"d067dd84.39cf8","order":9,"width":22,"height":5,"label":"3번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":600,"wires":[[]]},{"id":"93dc2f6.bef67d","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"3번 센서 Y축","group":"d067dd84.39cf8","order":10,"width":22,"height":5,"label":"3번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":660,"wires":[[]]},{"id":"e0d49d04.4e944","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"3번 센서 Z축","group":"d067dd84.39cf8","order":11,"width":22,"height":5,"label":"3번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":720,"wires":[[]]},{"id":"96708f41.a965","type":"ui_chart","z":"1d26cda.c0a9932","name":"1번 센서 X축","group":"f807daa7.165138","order":1,"width":22,"height":5,"label":"1번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":60,"wires":[[]]},{"id":"f0f2c12.94ee04","type":"ui_chart","z":"1d26cda.c0a9932","name":"1번 센서 Y축","group":"f807daa7.165138","order":2,"width":22,"height":5,"label":"1번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":120,"wires":[[]]},{"id":"13792514.fa1ccb","type":"ui_chart","z":"1d26cda.c0a9932","name":"1번 센서 Z축","group":"f807daa7.165138","order":3,"width":22,"height":5,"label":"1번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":180,"wires":[[]]},{"id":"ac4d5960.ca6f58","type":"ui_chart","z":"1d26cda.c0a9932","name":"2번 센서 X축","group":"f807daa7.165138","order":5,"width":22,"height":5,"label":"2번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":340,"wires":[[]]},{"id":"35ec6d16.7ab132","type":"ui_chart","z":"1d26cda.c0a9932","name":"2번 센서 Y축","group":"f807daa7.165138","order":6,"width":22,"height":5,"label":"2번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":400,"wires":[[]]},{"id":"59b10f80.c73d4","type":"ui_chart","z":"1d26cda.c0a9932","name":"2번 센서 Z축","group":"f807daa7.165138","order":7,"width":22,"height":5,"label":"2번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":460,"wires":[[]]},{"id":"944ce7f0.8f19c8","type":"ui_chart","z":"1d26cda.c0a9932","name":"3번 센서 X축","group":"f807daa7.165138","order":9,"width":22,"height":5,"label":"3번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":620,"wires":[[]]},{"id":"a742bcd5.d7223","type":"ui_chart","z":"1d26cda.c0a9932","name":"3번 센서 Y축","group":"f807daa7.165138","order":10,"width":22,"height":5,"label":"3번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":680,"wires":[[]]},{"id":"5ffcb6da.85ebe8","type":"ui_chart","z":"1d26cda.c0a9932","name":"3번 센서 Z축","group":"f807daa7.165138","order":11,"width":22,"height":5,"label":"3번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":740,"wires":[[]]},{"id":"9d6d4031.8fe","type":"ui_chart","z":"26f040e6.9ab2e","name":"1번 센서 X축","group":"35108753.bb9618","order":1,"width":22,"height":5,"label":"1번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":40,"wires":[[]]},{"id":"d9596847.4b0b68","type":"ui_chart","z":"26f040e6.9ab2e","name":"1번 센서 Y축","group":"35108753.bb9618","order":2,"width":22,"height":5,"label":"1번 센서Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":100,"wires":[[]]},{"id":"c1ea650b.faf438","type":"ui_chart","z":"26f040e6.9ab2e","name":"1번 센서 Z축","group":"35108753.bb9618","order":3,"width":22,"height":5,"label":"1번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":160,"wires":[[]]},{"id":"eb1759e7.5d9a28","type":"ui_chart","z":"26f040e6.9ab2e","name":"2번 센서 X축","group":"35108753.bb9618","order":5,"width":22,"height":5,"label":"2번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":320,"wires":[[]]},{"id":"bd90df2f.1e5c2","type":"ui_chart","z":"26f040e6.9ab2e","name":"2번 센서 Y축","group":"35108753.bb9618","order":6,"width":22,"height":5,"label":"2번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":380,"wires":[[]]},{"id":"f0e7b14c.cf522","type":"ui_chart","z":"26f040e6.9ab2e","name":"2번 센서 Z축","group":"35108753.bb9618","order":7,"width":22,"height":5,"label":"2번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":440,"wires":[[]]},{"id":"ac7eadc2.674b9","type":"ui_chart","z":"26f040e6.9ab2e","name":"3번 센서 X축","group":"35108753.bb9618","order":9,"width":22,"height":5,"label":"3번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":600,"wires":[[]]},{"id":"398d24ca.ee9f1c","type":"ui_chart","z":"26f040e6.9ab2e","name":"3번 센서 Y축","group":"35108753.bb9618","order":10,"width":22,"height":5,"label":"3번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":660,"wires":[[]]},{"id":"53d3ab8c.ecfd34","type":"ui_chart","z":"26f040e6.9ab2e","name":"3번 센서 Z축","group":"35108753.bb9618","order":11,"width":22,"height":5,"label":"3번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":720,"wires":[[]]},{"id":"b97b46a0.84a888","type":"ui_chart","z":"219560fd.177a1","name":"1번 센서 X축","group":"2804b0ce.ecbf3","order":1,"width":22,"height":5,"label":"1번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":40,"wires":[[]]},{"id":"b2973c21.246f1","type":"ui_chart","z":"219560fd.177a1","name":"1번 센서 Y축","group":"2804b0ce.ecbf3","order":2,"width":22,"height":5,"label":"1번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":100,"wires":[[]]},{"id":"4b171c82.abb094","type":"ui_chart","z":"219560fd.177a1","name":"1번 센서 Z축","group":"2804b0ce.ecbf3","order":3,"width":22,"height":5,"label":"1번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":160,"wires":[[]]},{"id":"98983e1.0a359c","type":"ui_chart","z":"219560fd.177a1","name":"2번 센서 X축","group":"2804b0ce.ecbf3","order":5,"width":22,"height":5,"label":"2번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":320,"wires":[[]]},{"id":"d5dc792e.afb188","type":"ui_chart","z":"219560fd.177a1","name":"2번 센서 Y축","group":"2804b0ce.ecbf3","order":6,"width":22,"height":5,"label":"2번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":380,"wires":[[]]},{"id":"4b82b730.62c538","type":"ui_chart","z":"219560fd.177a1","name":"2번 센서 Z축","group":"2804b0ce.ecbf3","order":7,"width":22,"height":5,"label":"2번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":440,"wires":[[]]},{"id":"9df2bc07.ba87b","type":"ui_chart","z":"219560fd.177a1","name":"3번 센서 X축","group":"2804b0ce.ecbf3","order":9,"width":22,"height":5,"label":"3번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":600,"wires":[[]]},{"id":"9822e49d.0ce668","type":"ui_chart","z":"219560fd.177a1","name":"3번 센서 Y축","group":"2804b0ce.ecbf3","order":10,"width":22,"height":5,"label":"3번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":660,"wires":[[]]},{"id":"158c6a21.a2d476","type":"ui_chart","z":"219560fd.177a1","name":"3번 센서 Z축","group":"2804b0ce.ecbf3","order":11,"width":22,"height":5,"label":"3번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":720,"wires":[[]]},{"id":"165d79a5.8ed876","type":"ui_template","z":"9a1e0c29.c1dcf","group":"b038e2e5.35d3f","name":"ESP32-CAM","order":2,"width":0,"height":0,"format":"<div>\n    <img src=\"http://49.168.145.8:19134/mjpeg/1\" width=\"250\" height=\"220\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":390,"y":260,"wires":[["6ccdfbf5.f2c3e4"]]},{"id":"6ccdfbf5.f2c3e4","type":"ui_text","z":"9a1e0c29.c1dcf","group":"b038e2e5.35d3f","order":1,"width":0,"height":0,"name":"","label":"<font size=\"2\">증자1호 구동부 영상</font>","format":"{{msg.payload}}","layout":"row-left","x":660,"y":260,"wires":[]},{"id":"701b0e12.7fae9","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"진동센서 온도(No.1)","group":"b038e2e5.35d3f","order":3,"width":5,"height":3,"label":"<font size=\"2\">온도 변동폭(No.1)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2c4a72","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":220,"wires":[[]]}]