node-red/20201219-1.json
[{"id":"f083fa31.8277f8","type":"tab","label":"Acc_1호","disabled":false,"info":""},{"id":"c9fa7fef.3247","type":"tab","label":"Acc_2호","disabled":false,"info":""},{"id":"d41d5fda.f56fb","type":"tab","label":"Acc_3호","disabled":false,"info":""},{"id":"ea9d9fef.0ac49","type":"tab","label":"Acc_4호","disabled":false,"info":""},{"id":"7242889a.126d18","type":"tab","label":"ESP32_CAM_1호","disabled":false,"info":""},{"id":"7f6cedcf.e800a4","type":"tab","label":"influxDB","disabled":false,"info":""},{"id":"828b66ad.1d92b8","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"bc073290.a12f7","type":"subflow","name":"Subflow 2","info":"","in":[],"out":[]},{"id":"49cf9feb.84093","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9f467dbe.9996b","type":"ui_group","z":"","name":"","tab":"","order":4,"disp":true,"width":4,"collapse":false},{"id":"1969f47b.68a23c","type":"ui_spacer","name":"spacer","group":"9f467dbe.9996b","order":2,"width":4,"height":1},{"id":"686bb14d.7a76e","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7d9ae290.923ddc","type":"ui_spacer","name":"spacer","group":"9687a27.ea6b16","order":1,"width":4,"height":1},{"id":"e50ea3a9.52205","type":"ui_group","z":"","name":"X센서","tab":"","order":1,"disp":true,"width":5,"collapse":false},{"id":"f9404afe.ba4c18","type":"ui_group","z":"","name":"Y센서","tab":"","order":2,"disp":true,"width":5,"collapse":false},{"id":"657cacf2.ff1ac4","type":"ui_group","z":"","name":"Z센서","tab":"","order":3,"disp":true,"width":5,"collapse":false},{"id":"e917f2ea.6d9dd","type":"ui_group","z":"","name":"T센서","tab":"","order":4,"disp":true,"width":5,"collapse":false},{"id":"f8edb2e9.14684","type":"ui_spacer","name":"spacer","group":"e50ea3a9.52205","order":5,"width":5,"height":1},{"id":"586b7e93.ca012","type":"ui_spacer","name":"spacer","group":"e50ea3a9.52205","order":7,"width":5,"height":1},{"id":"e7bf648e.8c31d8","type":"ui_spacer","name":"spacer","group":"f9404afe.ba4c18","order":5,"width":5,"height":1},{"id":"bade140a.59c568","type":"ui_spacer","name":"spacer","group":"f9404afe.ba4c18","order":7,"width":5,"height":1},{"id":"edc4b361.5e164","type":"ui_spacer","name":"spacer","group":"657cacf2.ff1ac4","order":5,"width":5,"height":1},{"id":"fd635154.f657c","type":"ui_spacer","name":"spacer","group":"657cacf2.ff1ac4","order":7,"width":5,"height":1},{"id":"7286e6c4.cf9248","type":"ui_spacer","name":"spacer","group":"e917f2ea.6d9dd","order":5,"width":5,"height":1},{"id":"8bb76209.196d8","type":"ui_spacer","name":"spacer","group":"e917f2ea.6d9dd","order":7,"width":5,"height":1},{"id":"57596e7f.3435d","type":"ui_spacer","name":"spacer","group":"9687a27.ea6b16","order":1,"width":4,"height":1},{"id":"13173450.b01e3c","type":"ui_tab","z":"","name":"증자 1호 가속도( Acc) 데이터","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ee5f5ecc.b9635","type":"ui_group","z":"","name":"X센서","tab":"","order":1,"disp":true,"width":5,"collapse":false},{"id":"abe2edbd.a0a93","type":"ui_group","z":"","name":"Y센서","tab":"","order":2,"disp":true,"width":5,"collapse":false},{"id":"42084a10.29aec4","type":"ui_group","z":"","name":"Z센서","tab":"","order":3,"disp":true,"width":5,"collapse":false},{"id":"d6f2927e.598fc","type":"ui_group","z":"","name":"T센서","tab":"","order":4,"disp":true,"width":5,"collapse":false},{"id":"cbb914be.bb53e8","type":"ui_spacer","name":"spacer","group":"ee5f5ecc.b9635","order":5,"width":5,"height":1},{"id":"59bbf88a.8725b8","type":"ui_spacer","name":"spacer","group":"ee5f5ecc.b9635","order":7,"width":5,"height":1},{"id":"ad6b647f.261748","type":"ui_spacer","name":"spacer","group":"abe2edbd.a0a93","order":5,"width":5,"height":1},{"id":"aa1616bd.e3c9f8","type":"ui_spacer","name":"spacer","group":"abe2edbd.a0a93","order":7,"width":5,"height":1},{"id":"80f2170f.9dda98","type":"ui_spacer","name":"spacer","group":"42084a10.29aec4","order":5,"width":5,"height":1},{"id":"1609787a.c4cfb8","type":"ui_spacer","name":"spacer","group":"42084a10.29aec4","order":7,"width":5,"height":1},{"id":"ac044276.52c8b","type":"ui_spacer","name":"spacer","group":"d6f2927e.598fc","order":5,"width":5,"height":1},{"id":"4e61ade9.8b33e4","type":"ui_spacer","name":"spacer","group":"d6f2927e.598fc","order":7,"width":5,"height":1},{"id":"f7e1c218.e713a","type":"ui_tab","z":"","name":"증자 1호 기어 구동부","icon":"dashboard","disabled":false,"hidden":false},{"id":"e0cfdfdd.00eb7","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.33","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"80b67623.d35ce8","type":"influxdb","z":"","hostname":"192.168.0.252","port":"8086","protocol":"http","database":"SteamCook_DATA","name":"InfuxDB-Intrusion-Data","usetls":false,"tls":""},{"id":"959b7bec.302898","type":"ui_spacer","name":"spacer","group":"9687a27.ea6b16","order":1,"width":4,"height":1},{"id":"a4d45d64.4ddfd","type":"ui_group","z":"","name":"X센서 No.1_Acc","tab":"dc42099f.fa3078","order":1,"disp":false,"width":5,"collapse":false},{"id":"3f998c1e.6dcaa4","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.33","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"de0cb08a.a44c","type":"ui_group","z":"","name":"Y센서 No.1_Acc","tab":"dc42099f.fa3078","order":2,"disp":false,"width":"5","collapse":false},{"id":"be1e1ebf.58878","type":"ui_group","z":"","name":"Z센서 No.1_Acc","tab":"dc42099f.fa3078","order":3,"disp":false,"width":"5","collapse":false},{"id":"adb7279b.9dbbe8","type":"ui_group","z":"","name":"1호 기어부 영상","tab":"dc42099f.fa3078","order":4,"disp":false,"width":"5","collapse":false},{"id":"dc42099f.fa3078","type":"ui_tab","z":"","name":"증자 1호 진동센서","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ca636577.628408","type":"ui_group","z":"","name":"X센서","tab":"","order":1,"disp":true,"width":5,"collapse":false},{"id":"8324732a.87055","type":"ui_group","z":"","name":"Y센서","tab":"","order":2,"disp":true,"width":5,"collapse":false},{"id":"7573ac78.f3c994","type":"ui_group","z":"","name":"Z센서","tab":"","order":3,"disp":true,"width":5,"collapse":false},{"id":"bd7c4296.9a51a","type":"ui_group","z":"","name":"T센서","tab":"","order":4,"disp":true,"width":5,"collapse":false},{"id":"7cfa0b6a.6e0944","type":"ui_spacer","name":"spacer","group":"ca636577.628408","order":5,"width":5,"height":1},{"id":"3af287f7.ae6b18","type":"ui_spacer","name":"spacer","group":"ca636577.628408","order":7,"width":5,"height":1},{"id":"f3ac356b.5589b8","type":"ui_spacer","name":"spacer","group":"8324732a.87055","order":5,"width":5,"height":1},{"id":"4919e701.454828","type":"ui_spacer","name":"spacer","group":"8324732a.87055","order":7,"width":5,"height":1},{"id":"cbced0e3.2af0b","type":"ui_spacer","name":"spacer","group":"7573ac78.f3c994","order":5,"width":5,"height":1},{"id":"d0e9aca4.acca8","type":"ui_spacer","name":"spacer","group":"7573ac78.f3c994","order":7,"width":5,"height":1},{"id":"efa8b9e9.2fe758","type":"ui_spacer","name":"spacer","group":"bd7c4296.9a51a","order":5,"width":5,"height":1},{"id":"d7ba80.2c89958","type":"ui_spacer","name":"spacer","group":"bd7c4296.9a51a","order":7,"width":5,"height":1},{"id":"3b6971a8.f0a18e","type":"ui_group","z":"","name":"증자 1호","tab":"603a0cb7.a97b54","order":1,"disp":true,"width":"6","collapse":true},{"id":"603a0cb7.a97b54","type":"ui_tab","z":"","name":"증자 1호 구동부 영상","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"8f1b65a9.014e98","type":"ui_tab","z":"","name":"증자 2호 진동센서","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a21f769a.dab0e8","type":"ui_group","z":"","name":"X센서 No.2_Acc","tab":"8f1b65a9.014e98","order":1,"disp":true,"width":5,"collapse":false},{"id":"1dfd9062.d52e6","type":"ui_group","z":"","name":"Y센서 No.2_Acc","tab":"8f1b65a9.014e98","order":2,"disp":true,"width":5,"collapse":false},{"id":"6d33b5a6.34e59c","type":"ui_group","z":"","name":"Z센서 No.2_Acc","tab":"8f1b65a9.014e98","order":3,"disp":true,"width":5,"collapse":false},{"id":"5c379c5a.96cc24","type":"ui_group","z":"","name":"T센서 No.2_Acc","tab":"8f1b65a9.014e98","order":4,"disp":true,"width":5,"collapse":false},{"id":"cc4715fa.ba0208","type":"ui_tab","z":"","name":"증자 3호 진동센서","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a240ec64.be1aa","type":"ui_group","z":"","name":"X센서 No.3_Acc","tab":"cc4715fa.ba0208","order":1,"disp":true,"width":5,"collapse":false},{"id":"ef743702.f87f28","type":"ui_group","z":"","name":"Y센서 No.3_Acc","tab":"cc4715fa.ba0208","order":2,"disp":true,"width":5,"collapse":false},{"id":"7891e96.743d818","type":"ui_group","z":"","name":"Z센서 No.3_Acc","tab":"cc4715fa.ba0208","order":3,"disp":true,"width":5,"collapse":false},{"id":"9d46deeb.d9bf2","type":"ui_group","z":"","name":"T센서 No.3_Acc","tab":"cc4715fa.ba0208","order":4,"disp":true,"width":5,"collapse":false},{"id":"10b43915.e6b417","type":"ui_tab","z":"","name":"증자4호 진동센서","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"569a91b7.79c6d","type":"ui_group","z":"","name":"X센서 No.4_Acc","tab":"10b43915.e6b417","order":1,"disp":true,"width":5,"collapse":false},{"id":"da8eb539.65ee78","type":"ui_group","z":"","name":"Y센서 No.4_Acc","tab":"10b43915.e6b417","order":2,"disp":true,"width":5,"collapse":false},{"id":"f088d6f9.48dfb8","type":"ui_group","z":"","name":"Z센서 No.4_Acc","tab":"10b43915.e6b417","order":3,"disp":true,"width":5,"collapse":false},{"id":"bff1d92c.2f6dc8","type":"ui_group","z":"","name":"T센서 No.4_Acc","tab":"10b43915.e6b417","order":4,"disp":true,"width":5,"collapse":false},{"id":"58e9896.e9d3078","type":"ui_tab","z":"","name":"증자 1호 차트","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"983f2c8.fbcb3d","type":"ui_group","z":"","name":"1호 차트","tab":"58e9896.e9d3078","order":1,"disp":true,"width":"22","collapse":true},{"id":"913eb434.ed04b8","type":"ui_tab","z":"","name":"증자 2호 차트","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"5e75fb8e.336c14","type":"ui_group","z":"","name":"2호 차트","tab":"913eb434.ed04b8","order":1,"disp":true,"width":22,"collapse":false},{"id":"550b0535.2b4f6c","type":"ui_spacer","name":"spacer","group":"5e75fb8e.336c14","order":4,"width":1,"height":"1"},{"id":"ae5cc34a.9613f","type":"ui_spacer","name":"spacer","group":"5e75fb8e.336c14","order":8,"width":1,"height":"1"},{"id":"526e0953.20f748","type":"ui_spacer","name":"spacer","group":"983f2c8.fbcb3d","order":4,"width":1,"height":1},{"id":"a7f6fab7.e0a648","type":"ui_spacer","name":"spacer","group":"983f2c8.fbcb3d","order":8,"width":1,"height":1},{"id":"d1d86a48.afee28","type":"ui_tab","z":"","name":"증자 3호 차트","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"4cb8bc75.df7694","type":"ui_tab","z":"","name":"증자 4호 차트","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"bc465c42.91435","type":"ui_group","z":"","name":"3호 차트","tab":"d1d86a48.afee28","order":1,"disp":true,"width":22,"collapse":false},{"id":"5a065956.977c08","type":"ui_spacer","name":"spacer","group":"bc465c42.91435","order":8,"width":1,"height":1},{"id":"b46a70a4.9fa29","type":"ui_spacer","name":"spacer","group":"bc465c42.91435","order":4,"width":1,"height":1},{"id":"18a26dee.83c392","type":"ui_group","z":"","name":"4호 차트","tab":"4cb8bc75.df7694","order":1,"disp":true,"width":22,"collapse":false},{"id":"5e70f9e6.12f498","type":"ui_spacer","name":"spacer","group":"18a26dee.83c392","order":4,"width":1,"height":1},{"id":"421c340a.5aeabc","type":"ui_spacer","name":"spacer","group":"18a26dee.83c392","order":8,"width":1,"height":1},{"id":"2020c679.77ea9a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3d0044bf.3c0f6c","type":"ui_spacer","name":"spacer","group":"a4d45d64.4ddfd","order":1,"width":1,"height":1},{"id":"731010dc.ee28f","type":"ui_spacer","name":"spacer","group":"a4d45d64.4ddfd","order":3,"width":1,"height":1},{"id":"8a5c7789.0dad78","type":"ui_spacer","name":"spacer","group":"a4d45d64.4ddfd","order":4,"width":1,"height":1},{"id":"58713943.21d3e8","type":"ui_spacer","name":"spacer","group":"a4d45d64.4ddfd","order":5,"width":1,"height":1},{"id":"d8b29415.66b518","type":"ui_spacer","name":"spacer","group":"a4d45d64.4ddfd","order":6,"width":1,"height":1},{"id":"f49aeee8.bd6ce","type":"ui_spacer","name":"spacer","group":"a4d45d64.4ddfd","order":8,"width":1,"height":1},{"id":"20e4741a.774d1c","type":"ui_spacer","name":"spacer","group":"a4d45d64.4ddfd","order":9,"width":1,"height":1},{"id":"a92f94fa.f998d8","type":"ui_spacer","name":"spacer","group":"a4d45d64.4ddfd","order":10,"width":1,"height":1},{"id":"3cb7616b.bcd31e","type":"ui_spacer","name":"spacer","group":"a4d45d64.4ddfd","order":11,"width":1,"height":1},{"id":"f2cc66ce.b6e6c8","type":"ui_spacer","name":"spacer","group":"a4d45d64.4ddfd","order":13,"width":1,"height":1},{"id":"37bb19f4.493786","type":"ui_spacer","name":"spacer","group":"a4d45d64.4ddfd","order":14,"width":1,"height":1},{"id":"936a7cac.a757c","type":"ui_spacer","name":"spacer","group":"a4d45d64.4ddfd","order":15,"width":1,"height":1},{"id":"a05be409.754a48","type":"ui_spacer","name":"spacer","group":"de0cb08a.a44c","order":1,"width":1,"height":1},{"id":"58b00ad7.aa6774","type":"ui_spacer","name":"spacer","group":"de0cb08a.a44c","order":3,"width":1,"height":1},{"id":"d915a444.235848","type":"ui_spacer","name":"spacer","group":"de0cb08a.a44c","order":4,"width":1,"height":1},{"id":"6a633bd8.234804","type":"ui_spacer","name":"spacer","group":"de0cb08a.a44c","order":5,"width":1,"height":1},{"id":"96ecf75.26a3b08","type":"ui_spacer","name":"spacer","group":"de0cb08a.a44c","order":6,"width":1,"height":1},{"id":"9462c9ef.49b6c8","type":"ui_spacer","name":"spacer","group":"de0cb08a.a44c","order":8,"width":1,"height":1},{"id":"e16c1af8.df3968","type":"ui_spacer","name":"spacer","group":"de0cb08a.a44c","order":9,"width":1,"height":1},{"id":"2c53deb3.8e1a52","type":"ui_spacer","name":"spacer","group":"de0cb08a.a44c","order":10,"width":1,"height":1},{"id":"73ed4b7e.31e5f4","type":"ui_spacer","name":"spacer","group":"de0cb08a.a44c","order":11,"width":1,"height":1},{"id":"254dcef6.c19c22","type":"ui_spacer","name":"spacer","group":"de0cb08a.a44c","order":13,"width":1,"height":1},{"id":"549bbe05.2185e","type":"ui_spacer","name":"spacer","group":"de0cb08a.a44c","order":14,"width":1,"height":1},{"id":"722b1808.8874f8","type":"ui_spacer","name":"spacer","group":"de0cb08a.a44c","order":15,"width":1,"height":1},{"id":"8051074e.431308","type":"ui_spacer","name":"spacer","group":"be1e1ebf.58878","order":1,"width":1,"height":1},{"id":"4f87717c.aaa6e","type":"ui_spacer","name":"spacer","group":"be1e1ebf.58878","order":3,"width":1,"height":1},{"id":"76322974.523f48","type":"ui_spacer","name":"spacer","group":"be1e1ebf.58878","order":4,"width":1,"height":1},{"id":"e26f9db7.d3435","type":"ui_spacer","name":"spacer","group":"be1e1ebf.58878","order":5,"width":1,"height":1},{"id":"87db1827.85f2c8","type":"ui_spacer","name":"spacer","group":"be1e1ebf.58878","order":6,"width":1,"height":1},{"id":"f631b127.13dae","type":"ui_spacer","name":"spacer","group":"be1e1ebf.58878","order":8,"width":1,"height":1},{"id":"c3177566.38b1d8","type":"ui_spacer","name":"spacer","group":"be1e1ebf.58878","order":9,"width":1,"height":1},{"id":"482a2afa.d1be04","type":"ui_spacer","name":"spacer","group":"be1e1ebf.58878","order":10,"width":1,"height":1},{"id":"1aa70b24.197b55","type":"ui_spacer","name":"spacer","group":"be1e1ebf.58878","order":11,"width":1,"height":1},{"id":"19bf6a97.4b04a5","type":"ui_spacer","name":"spacer","group":"be1e1ebf.58878","order":13,"width":1,"height":1},{"id":"cb877191.729be","type":"ui_spacer","name":"spacer","group":"be1e1ebf.58878","order":14,"width":1,"height":1},{"id":"3f05a5db.3caa3a","type":"ui_spacer","name":"spacer","group":"be1e1ebf.58878","order":15,"width":1,"height":1},{"id":"3f545d98.6e92c2","type":"mqtt in","z":"7f6cedcf.e800a4","name":"Acc_X","topic":"RotaryCook1Sensor1/XAcc","qos":"0","datatype":"auto","broker":"e0cfdfdd.00eb7","x":110,"y":60,"wires":[["4d994a96.04af64"]]},{"id":"837a0d06.d470c","type":"mqtt in","z":"7f6cedcf.e800a4","name":"Acc_Y","topic":"RotaryCook1Sensor1/YAcc","qos":"0","datatype":"auto","broker":"e0cfdfdd.00eb7","x":110,"y":111,"wires":[["4d994a96.04af64"]]},{"id":"844a6071.44934","type":"mqtt in","z":"7f6cedcf.e800a4","name":"Acc_Z","topic":"RotaryCook1Sensor1/ZAcc","qos":"0","datatype":"auto","broker":"e0cfdfdd.00eb7","x":110,"y":163.22221851348877,"wires":[["4d994a96.04af64"]]},{"id":"4d994a96.04af64","type":"join","z":"7f6cedcf.e800a4","name":"Join Sensor Data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"12","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":340,"wires":[["c2536a17.3df4a8","52b75fbb.a7ba7"]]},{"id":"c2536a17.3df4a8","type":"influxdb out","z":"7f6cedcf.e800a4","influxdb":"80b67623.d35ce8","name":"InfuxDB-Intrusion-Data","measurement":"vibration_DATA","precision":"","retentionPolicy":"","x":600,"y":380,"wires":[]},{"id":"52b75fbb.a7ba7","type":"debug","z":"7f6cedcf.e800a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":280,"wires":[]},{"id":"91747803.8e9718","type":"mqtt in","z":"7f6cedcf.e800a4","name":"Temp","topic":"RotaryCook1Sensor1/Temp","qos":"0","datatype":"auto","broker":"e0cfdfdd.00eb7","x":109.22220611572266,"y":220.1110668182373,"wires":[["4d994a96.04af64"]]},{"id":"6bcb2b50.a50f24","type":"ui_gauge","z":"f083fa31.8277f8","name":"게이지_증자1호 X축 가속도(No.1)","group":"a4d45d64.4ddfd","order":2,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">X축 감도(No.1)</font>","label":"units","format":"{{value}}","min":"-2000","max":"-1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":40,"wires":[]},{"id":"fc08660d.7287c8","type":"mqtt in","z":"f083fa31.8277f8","name":"증자1호 X축 가속도","topic":"RotaryCook1Sensor1/XAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":40,"wires":[["6bcb2b50.a50f24","528f8f8b.46828","ed8a62fc.85516"]]},{"id":"528f8f8b.46828","type":"ui_chart","z":"f083fa31.8277f8","name":"증자1호 X축 가속도(No.1)","group":"a4d45d64.4ddfd","order":16,"width":5,"height":3,"label":"<font size=\"2\">X축 진동폭(No.1)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":40,"wires":[[]]},{"id":"a6247a11.a16508","type":"ui_gauge","z":"f083fa31.8277f8","name":"게이지_증자1호 Y축 가속도(No.1)","group":"de0cb08a.a44c","order":2,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Y축 감도(No.1)</font>","label":"units","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":100,"wires":[]},{"id":"b02c7489.5fca58","type":"mqtt in","z":"f083fa31.8277f8","name":"증자1호 Y축 가속도","topic":"RotaryCook1Sensor1/YAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":100,"wires":[["a6247a11.a16508","ef6d7dc6.04527","b34d1160.f236c"]]},{"id":"ef6d7dc6.04527","type":"ui_chart","z":"f083fa31.8277f8","name":"증자1호 Y축 가속도(No.1)","group":"de0cb08a.a44c","order":16,"width":5,"height":3,"label":"<font size=\"2\">Y축 진동폭(No.1)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":100,"wires":[[]]},{"id":"a3950e9e.0f2cb","type":"ui_gauge","z":"f083fa31.8277f8","name":"게이지_증자1호 Z축 가속도(No.1)","group":"be1e1ebf.58878","order":2,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Z축 감도(No.1)</font>","label":"units","format":"{{value}}","min":"14000","max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":160,"wires":[]},{"id":"3cd348e1.196888","type":"mqtt in","z":"f083fa31.8277f8","name":"증자1호 Z축 가속도","topic":"RotaryCook1Sensor1/ZAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":160,"wires":[["a3950e9e.0f2cb","444069b6.c88058","50d4e61c.d6a0a8"]]},{"id":"444069b6.c88058","type":"ui_chart","z":"f083fa31.8277f8","name":"증자1호 Z축 가속도(No.1)","group":"be1e1ebf.58878","order":16,"width":5,"height":3,"label":"<font size=\"2\">Z축 진동폭(No.1)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":160,"wires":[[]]},{"id":"799d6e02.a348a","type":"mqtt in","z":"f083fa31.8277f8","name":"증자1호 진동센서 온도","topic":"RotaryCook1Sensor1/Temp","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":140,"y":220,"wires":[["909ba796.1bf468"]]},{"id":"557ab6d1.f9e468","type":"ui_gauge","z":"f083fa31.8277f8","name":"게이지_증자1호 X축 가속도(No.2)","group":"a4d45d64.4ddfd","order":7,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">X축 감도(No.2)</font>","label":"units","format":"{{value}}","min":"-17500","max":"-16500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":320,"wires":[]},{"id":"eaf9e98c.515488","type":"mqtt in","z":"f083fa31.8277f8","name":"증자1호 X축 가속도","topic":"RotaryCook1Sensor2/XAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":320,"wires":[["557ab6d1.f9e468","ebf01ca8.fa47f","cced085f.1c30e8"]]},{"id":"ebf01ca8.fa47f","type":"ui_chart","z":"f083fa31.8277f8","name":"증자1호 X축 가속도(No.2)","group":"a4d45d64.4ddfd","order":17,"width":5,"height":3,"label":"<font size=\"2\">X축 진동폭(No.2)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#20608d","#385e8f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":320,"wires":[[]]},{"id":"c6c0eb8f.cb7b38","type":"ui_gauge","z":"f083fa31.8277f8","name":"게이지_증자1호 Y축 가속도(No.2)","group":"de0cb08a.a44c","order":7,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Y축 감도(No.2)</font>","label":"units","format":"{{value}}","min":"-1000","max":"-0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":380,"wires":[]},{"id":"89fe5d4a.137b2","type":"mqtt in","z":"f083fa31.8277f8","name":"증자1호 Y축 가속도","topic":"RotaryCook1Sensor2/YAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":380,"wires":[["c6c0eb8f.cb7b38","280526cf.4f6a3a","916e6e1b.1e2e7"]]},{"id":"280526cf.4f6a3a","type":"ui_chart","z":"f083fa31.8277f8","name":"증자1호 Y축 가속도(No.2)","group":"de0cb08a.a44c","order":17,"width":5,"height":3,"label":"<font size=\"2\">Y축 진동폭(No.2)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#22689b","#427ac2","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":380,"wires":[[]]},{"id":"c3cc98c4.ab9ac8","type":"ui_gauge","z":"f083fa31.8277f8","name":"게이지_증자1호 Z축 가속도(No.2)","group":"be1e1ebf.58878","order":7,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Z축 감도(No.2)</font>","label":"units","format":"{{value}}","min":"-3500","max":"-2500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":440,"wires":[]},{"id":"49ff2b45.23c204","type":"mqtt in","z":"f083fa31.8277f8","name":"증자1호 Z축 가속도","topic":"RotaryCook1Sensor2/ZAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":440,"wires":[["c3cc98c4.ab9ac8","9c4a622d.56dee","9d57ed82.0bf25"]]},{"id":"9c4a622d.56dee","type":"ui_chart","z":"f083fa31.8277f8","name":"증자1호 Z축 가속도(No.2)","group":"be1e1ebf.58878","order":17,"width":5,"height":3,"label":"<font size=\"2\">Z축 진동폭(No.2)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2571a7","#3a69a6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":440,"wires":[[]]},{"id":"80c8beab.7a71b","type":"mqtt in","z":"f083fa31.8277f8","name":"증자1호 진동센서 온도","topic":"RotaryCook1Sensor2/Temp","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":140,"y":500,"wires":[["7b83535e.b5384c"]]},{"id":"a3a4f57e.a8aa38","type":"ui_gauge","z":"f083fa31.8277f8","name":"게이지_증자1호 X축 가속도(No.3)","group":"a4d45d64.4ddfd","order":12,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">X축 감도(No.3)</font>","label":"units","format":"{{value}}","min":"-16500","max":"-15500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":600,"wires":[]},{"id":"4ca06ce0.4bccb4","type":"mqtt in","z":"f083fa31.8277f8","name":"증자1호 X축 가속도","topic":"RotaryCook1Sensor3/XAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":600,"wires":[["a3a4f57e.a8aa38","ada6fe85.967a6","bd993b63.83e448"]]},{"id":"ada6fe85.967a6","type":"ui_chart","z":"f083fa31.8277f8","name":"증자1호 X축 가속도(No.3)","group":"a4d45d64.4ddfd","order":18,"width":5,"height":3,"label":"<font size=\"2\">X축 진동폭(No.3)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":600,"wires":[[]]},{"id":"38b3a7b4.31d6d8","type":"ui_gauge","z":"f083fa31.8277f8","name":"게이지_증자1호 Y축 가속도(No.3)","group":"de0cb08a.a44c","order":12,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Y축 감도(No.3)</font>","label":"units","format":"{{value}}","min":"-1500","max":"-500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":660,"wires":[]},{"id":"9c259e12.c4f5a","type":"mqtt in","z":"f083fa31.8277f8","name":"증자1호 Y축 가속도","topic":"RotaryCook1Sensor3/YAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":660,"wires":[["38b3a7b4.31d6d8","756ba3a4.86252c","6fc9909e.9ee2d"]]},{"id":"756ba3a4.86252c","type":"ui_chart","z":"f083fa31.8277f8","name":"증자1호 Y축 가속도(No.3)","group":"de0cb08a.a44c","order":18,"width":5,"height":3,"label":"<font size=\"2\">Y축 진동폭(No.3)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":660,"wires":[[]]},{"id":"cd0c7a48.b75a08","type":"ui_gauge","z":"f083fa31.8277f8","name":"게이지_증자1호 Z축 가속도(No.3)","group":"be1e1ebf.58878","order":12,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Z축 감도(No.3)</font>","label":"units","format":"{{value}}","min":"-4000","max":"-3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":720,"wires":[]},{"id":"54b71.c597e48f4","type":"mqtt in","z":"f083fa31.8277f8","name":"증자1호 Z축 가속도","topic":"RotaryCook1Sensor3/ZAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":720,"wires":[["cd0c7a48.b75a08","d533ec30.a0432","1cddab9d.fdf4f4"]]},{"id":"d533ec30.a0432","type":"ui_chart","z":"f083fa31.8277f8","name":"증자1호 Z축 가속도(No.3)","group":"be1e1ebf.58878","order":18,"width":5,"height":3,"label":"<font size=\"2\">Z축 진동폭(No.3)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":720,"wires":[[]]},{"id":"b9f2fed9.ce736","type":"mqtt in","z":"f083fa31.8277f8","name":"증자1호 진동센서 온도","topic":"RotaryCook1Sensor3/Temp","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":140,"y":780,"wires":[["6d699a03.e413a4"]]},{"id":"6d699a03.e413a4","type":"ui_chart","z":"f083fa31.8277f8","name":"진동센서 온도(No.3)","group":"adb7279b.9dbbe8","order":5,"width":5,"height":3,"label":"<font size=\"2\">온도 변동폭(No.3)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":780,"wires":[[]]},{"id":"7b83535e.b5384c","type":"ui_chart","z":"f083fa31.8277f8","name":"진동센서 온도(No.2)","group":"adb7279b.9dbbe8","order":4,"width":5,"height":3,"label":"<font size=\"2\">온도 변동폭(No.2)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2c4a72","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":500,"wires":[[]]},{"id":"5f43c693.f2c578","type":"ui_template","z":"7242889a.126d18","group":"3b6971a8.f0a18e","name":"ESP32-CAM","order":0,"width":"0","height":"0","format":"<div>\n    <img src=\"http://49.168.145.8:19134/mjpeg/1\" width=\"310\" height=\"250\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":350,"y":200,"wires":[[]]},{"id":"757dc8a4.052068","type":"ui_gauge","z":"c9fa7fef.3247","name":"게이지_증자1호 X축 가속도(No.1)","group":"a21f769a.dab0e8","order":1,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.1)","label":"units","format":"{{value}}","min":"500","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":60,"wires":[]},{"id":"a867a505.0b14b8","type":"mqtt in","z":"c9fa7fef.3247","name":"증자1호 X축 가속도","topic":"RotaryCook2Sensor1/XAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":60,"wires":[["757dc8a4.052068","80a986bb.e661e8","fa0c2b12.364708"]]},{"id":"80a986bb.e661e8","type":"ui_chart","z":"c9fa7fef.3247","name":"증자1호 X축 가속도(No.1)","group":"a21f769a.dab0e8","order":4,"width":0,"height":0,"label":"X축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":60,"wires":[[]]},{"id":"6508029c.2762bc","type":"ui_gauge","z":"c9fa7fef.3247","name":"게이지_증자1호 Y축 가속도(No.1)","group":"1dfd9062.d52e6","order":1,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.1)","label":"units","format":"{{value}}","min":"-8000","max":"-6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":120,"wires":[]},{"id":"fe9d3c36.7af87","type":"mqtt in","z":"c9fa7fef.3247","name":"증자1호 Y축 가속도","topic":"RotaryCook2Sensor1/YAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":120,"wires":[["6508029c.2762bc","37c5fd59.695602","f6bc0020.e52bf"]]},{"id":"37c5fd59.695602","type":"ui_chart","z":"c9fa7fef.3247","name":"증자1호 Y축 가속도(No.1)","group":"1dfd9062.d52e6","order":4,"width":0,"height":0,"label":"Y축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":120,"wires":[[]]},{"id":"7bbded66.4ed364","type":"ui_gauge","z":"c9fa7fef.3247","name":"게이지_증자1호 Z축 가속도(No.1)","group":"6d33b5a6.34e59c","order":1,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.1)","label":"units","format":"{{value}}","min":"13500","max":"14500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":180,"wires":[]},{"id":"33698afe.f01036","type":"mqtt in","z":"c9fa7fef.3247","name":"증자1호 Z축 가속도","topic":"RotaryCook2Sensor1/ZAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":180,"wires":[["7bbded66.4ed364","9e7779ad.a7fd28","7d9ba2e2.d983bc"]]},{"id":"9e7779ad.a7fd28","type":"ui_chart","z":"c9fa7fef.3247","name":"증자1호 Z축 가속도(No.1)","group":"6d33b5a6.34e59c","order":4,"width":0,"height":0,"label":"Z축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":180,"wires":[[]]},{"id":"e7ae7295.7a006","type":"mqtt in","z":"c9fa7fef.3247","name":"증자1호 진동센서 온도","topic":"RotaryCook2Sensor1/Temp","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":140,"y":240,"wires":[["939d2fd4.f4934","b0212ff.57e8ed"]]},{"id":"939d2fd4.f4934","type":"ui_gauge","z":"c9fa7fef.3247","name":"게이지_진동센서 온도(No.1)","group":"5c379c5a.96cc24","order":1,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.1)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":240,"wires":[]},{"id":"b0212ff.57e8ed","type":"ui_chart","z":"c9fa7fef.3247","name":"온도 변동폭(No.1)","group":"5c379c5a.96cc24","order":4,"width":0,"height":0,"label":"온도 변동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":240,"wires":[[]]},{"id":"2b6d8768.ba7e78","type":"ui_gauge","z":"c9fa7fef.3247","name":"게이지_증자1호 X축 가속도(No.2)","group":"a21f769a.dab0e8","order":2,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.2)","label":"units","format":"{{value}}","min":"-16500","max":"-15500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":340,"wires":[]},{"id":"d6dc5fed.90d83","type":"mqtt in","z":"c9fa7fef.3247","name":"증자1호 X축 가속도","topic":"RotaryCook2Sensor2/XAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":340,"wires":[["2b6d8768.ba7e78","e89c582a.736038","e77ffcd8.c8b72"]]},{"id":"e89c582a.736038","type":"ui_chart","z":"c9fa7fef.3247","name":"증자1호 X축 가속도(No.2)","group":"a21f769a.dab0e8","order":5,"width":0,"height":0,"label":"X축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#20608d","#385e8f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":340,"wires":[[]]},{"id":"72aa409a.62064","type":"ui_gauge","z":"c9fa7fef.3247","name":"게이지_증자1호 Y축 가속도(No.2)","group":"1dfd9062.d52e6","order":2,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.2)","label":"units","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":400,"wires":[]},{"id":"ccf356ad.bd12d8","type":"mqtt in","z":"c9fa7fef.3247","name":"증자1호 Y축 가속도","topic":"RotaryCook2Sensor2/YAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":400,"wires":[["72aa409a.62064","971f3252.f5d7c","d80c2485.f863b8"]]},{"id":"971f3252.f5d7c","type":"ui_chart","z":"c9fa7fef.3247","name":"증자1호 Y축 가속도(No.2)","group":"1dfd9062.d52e6","order":5,"width":0,"height":0,"label":"Y축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#22689b","#427ac2","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":400,"wires":[[]]},{"id":"44649c3f.cd4584","type":"ui_gauge","z":"c9fa7fef.3247","name":"게이지_증자1호 Z축 가속도(No.2)","group":"6d33b5a6.34e59c","order":2,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.2)","label":"units","format":"{{value}}","min":"0","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":460,"wires":[]},{"id":"e9954a75.f38618","type":"mqtt in","z":"c9fa7fef.3247","name":"증자1호 Z축 가속도","topic":"RotaryCook2Sensor2/ZAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":460,"wires":[["44649c3f.cd4584","100b137c.e51ccd","ff5ddb80.5cdac8"]]},{"id":"100b137c.e51ccd","type":"ui_chart","z":"c9fa7fef.3247","name":"증자1호 Z축 가속도(No.2)","group":"6d33b5a6.34e59c","order":5,"width":0,"height":0,"label":"Z축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2571a7","#3a69a6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":460,"wires":[[]]},{"id":"a82d28a3.bded98","type":"mqtt in","z":"c9fa7fef.3247","name":"증자1호 진동센서 온도","topic":"RotaryCook2Sensor2/Temp","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":140,"y":520,"wires":[["ef034177.1a566","828222c3.10b2c"]]},{"id":"bd54640b.26b368","type":"ui_gauge","z":"c9fa7fef.3247","name":"게이지_증자1호 X축 가속도(No.3)","group":"a21f769a.dab0e8","order":3,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.3)","label":"units","format":"{{value}}","min":"-16000","max":"-15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":620,"wires":[]},{"id":"40e6caab.fe3254","type":"mqtt in","z":"c9fa7fef.3247","name":"증자1호 X축 가속도","topic":"RotaryCook2Sensor3/XAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":620,"wires":[["bd54640b.26b368","cf151c65.8082f","50b158f0.70b798"]]},{"id":"cf151c65.8082f","type":"ui_chart","z":"c9fa7fef.3247","name":"증자1호 X축 가속도(No.3)","group":"a21f769a.dab0e8","order":6,"width":0,"height":0,"label":"X축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":620,"wires":[[]]},{"id":"a76730c.014d9d","type":"ui_gauge","z":"c9fa7fef.3247","name":"게이지_증자1호 Y축 가속도(No.3)","group":"1dfd9062.d52e6","order":3,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.3)","label":"units","format":"{{value}}","min":"0","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":680,"wires":[]},{"id":"b1c01ae9.946e48","type":"mqtt in","z":"c9fa7fef.3247","name":"증자1호 Y축 가속도","topic":"RotaryCook2Sensor3/YAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":680,"wires":[["a76730c.014d9d","26fa873b.726bc8","cb4d34c9.787348"]]},{"id":"26fa873b.726bc8","type":"ui_chart","z":"c9fa7fef.3247","name":"증자1호 Y축 가속도(No.3)","group":"1dfd9062.d52e6","order":6,"width":0,"height":0,"label":"Y축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":680,"wires":[[]]},{"id":"2b9cb37a.212dbc","type":"ui_gauge","z":"c9fa7fef.3247","name":"게이지_증자1호 Z축 가속도(No.3)","group":"6d33b5a6.34e59c","order":3,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.3)","label":"units","format":"{{value}}","min":"-2000","max":"-1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":740,"wires":[]},{"id":"a64cc0e.fb9914","type":"mqtt in","z":"c9fa7fef.3247","name":"증자1호 Z축 가속도","topic":"RotaryCook2Sensor3/ZAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":130,"y":740,"wires":[["2b9cb37a.212dbc","fc27cfbb.c3189","7690e9db.62ff78"]]},{"id":"fc27cfbb.c3189","type":"ui_chart","z":"c9fa7fef.3247","name":"증자1호 Z축 가속도(No.3)","group":"6d33b5a6.34e59c","order":6,"width":0,"height":0,"label":"Z축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":740,"wires":[[]]},{"id":"5aa7355a.6df4ac","type":"mqtt in","z":"c9fa7fef.3247","name":"증자1호 진동센서 온도","topic":"RotaryCook2Sensor3/Temp","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":120,"y":800,"wires":[["584f4ffe.477d4","cc8881d.351f28"]]},{"id":"584f4ffe.477d4","type":"ui_gauge","z":"c9fa7fef.3247","name":"게이지_진동센서 온도(No.3)","group":"5c379c5a.96cc24","order":3,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.3)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":800,"wires":[]},{"id":"cc8881d.351f28","type":"ui_chart","z":"c9fa7fef.3247","name":"진동센서 온도(No.3)","group":"5c379c5a.96cc24","order":5,"width":0,"height":0,"label":"온도 변동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":800,"wires":[[]]},{"id":"ef034177.1a566","type":"ui_chart","z":"c9fa7fef.3247","name":"진동센서 온도(No.2)","group":"5c379c5a.96cc24","order":6,"width":0,"height":0,"label":"온도 변동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2c4a72","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":520,"wires":[[]]},{"id":"828222c3.10b2c","type":"ui_gauge","z":"c9fa7fef.3247","name":"게이지_진동센서 온도(No.2)","group":"5c379c5a.96cc24","order":2,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.2)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":520,"wires":[]},{"id":"e02023e8.b42d7","type":"ui_gauge","z":"d41d5fda.f56fb","name":"게이지_증자1호 X축 가속도(No.1)","group":"a240ec64.be1aa","order":1,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.1)","label":"units","format":"{{value}}","min":"-2000","max":"-1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":40,"wires":[]},{"id":"37d1c64.6c2e53a","type":"mqtt in","z":"d41d5fda.f56fb","name":"증자1호 X축 가속도","topic":"RotaryCook3Sensor1/XAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":40,"wires":[["e02023e8.b42d7","3d5517bc.d35e18","f5fc8e90.4c1e5"]]},{"id":"3d5517bc.d35e18","type":"ui_chart","z":"d41d5fda.f56fb","name":"증자1호 X축 가속도(No.1)","group":"a240ec64.be1aa","order":4,"width":0,"height":0,"label":"X축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":40,"wires":[[]]},{"id":"b2468b19.2af928","type":"ui_gauge","z":"d41d5fda.f56fb","name":"게이지_증자1호 Y축 가속도(No.1)","group":"ef743702.f87f28","order":1,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.1)","label":"units","format":"{{value}}","min":"500","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":100,"wires":[]},{"id":"aac40c4c.04ea8","type":"mqtt in","z":"d41d5fda.f56fb","name":"증자1호 Y축 가속도","topic":"RotaryCook3Sensor1/YAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":100,"wires":[["b2468b19.2af928","1bcb0c07.774364","9478422e.94519"]]},{"id":"1bcb0c07.774364","type":"ui_chart","z":"d41d5fda.f56fb","name":"증자1호 Y축 가속도(No.1)","group":"ef743702.f87f28","order":4,"width":0,"height":0,"label":"Y축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":100,"wires":[[]]},{"id":"a1125a20.98f378","type":"ui_gauge","z":"d41d5fda.f56fb","name":"게이지_증자1호 Z축 가속도(No.1)","group":"7891e96.743d818","order":1,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.1)","label":"units","format":"{{value}}","min":"15500","max":"16500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":160,"wires":[]},{"id":"dcd9d6f.1b5e728","type":"mqtt in","z":"d41d5fda.f56fb","name":"증자1호 Z축 가속도","topic":"RotaryCook3Sensor1/ZAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":160,"wires":[["a1125a20.98f378","ce7e3ec5.74e18","810f8bc1.95dfa8"]]},{"id":"ce7e3ec5.74e18","type":"ui_chart","z":"d41d5fda.f56fb","name":"증자1호 Z축 가속도(No.1)","group":"7891e96.743d818","order":4,"width":0,"height":0,"label":"Z축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":160,"wires":[[]]},{"id":"d8236c37.49397","type":"mqtt in","z":"d41d5fda.f56fb","name":"증자1호 진동센서 온도","topic":"RotaryCook3Sensor1/Temp","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":120,"y":220,"wires":[["b066cf4c.c6c67","fe8dab2d.91eb08"]]},{"id":"b066cf4c.c6c67","type":"ui_gauge","z":"d41d5fda.f56fb","name":"게이지_진동센서 온도(No.1)","group":"9d46deeb.d9bf2","order":1,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.1)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":220,"wires":[]},{"id":"fe8dab2d.91eb08","type":"ui_chart","z":"d41d5fda.f56fb","name":"온도 변동폭(No.1)","group":"9d46deeb.d9bf2","order":4,"width":0,"height":0,"label":"온도 변동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":220,"wires":[[]]},{"id":"6a27564a.2e0368","type":"ui_gauge","z":"d41d5fda.f56fb","name":"게이지_증자1호 X축 가속도(No.2)","group":"a240ec64.be1aa","order":2,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.2)","label":"units","format":"{{value}}","min":"-16500","max":"-15500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":320,"wires":[]},{"id":"83a8be2e.80694","type":"mqtt in","z":"d41d5fda.f56fb","name":"증자1호 X축 가속도","topic":"RotaryCook3Sensor2/XAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":320,"wires":[["6a27564a.2e0368","6fe8f70d.5eee18","3b46fc5d.273754"]]},{"id":"6fe8f70d.5eee18","type":"ui_chart","z":"d41d5fda.f56fb","name":"증자1호 X축 가속도(No.2)","group":"a240ec64.be1aa","order":5,"width":0,"height":0,"label":"X축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#20608d","#385e8f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":320,"wires":[[]]},{"id":"7121853b.5252bc","type":"ui_gauge","z":"d41d5fda.f56fb","name":"게이지_증자1호 Y축 가속도(No.2)","group":"ef743702.f87f28","order":2,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.2)","label":"units","format":"{{value}}","min":"-500","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":380,"wires":[]},{"id":"e2b90ff8.fe2c5","type":"mqtt in","z":"d41d5fda.f56fb","name":"증자1호 Y축 가속도","topic":"RotaryCook3Sensor2/YAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":380,"wires":[["7121853b.5252bc","601227e7.b5b778","9a689040.a90d5"]]},{"id":"601227e7.b5b778","type":"ui_chart","z":"d41d5fda.f56fb","name":"증자1호 Y축 가속도(No.2)","group":"ef743702.f87f28","order":5,"width":0,"height":0,"label":"Y축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#22689b","#427ac2","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":380,"wires":[[]]},{"id":"2ea82f58.d7e3e","type":"ui_gauge","z":"d41d5fda.f56fb","name":"게이지_증자1호 Z축 가속도(No.2)","group":"7891e96.743d818","order":2,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.2)","label":"units","format":"{{value}}","min":"-1500","max":"-500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":440,"wires":[]},{"id":"17e772b3.a2d33d","type":"mqtt in","z":"d41d5fda.f56fb","name":"증자1호 Z축 가속도","topic":"RotaryCook3Sensor2/ZAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":440,"wires":[["2ea82f58.d7e3e","2146677.b43a098","a8910013.d5e87"]]},{"id":"2146677.b43a098","type":"ui_chart","z":"d41d5fda.f56fb","name":"증자1호 Z축 가속도(No.2)","group":"7891e96.743d818","order":5,"width":0,"height":0,"label":"Z축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2571a7","#3a69a6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":440,"wires":[[]]},{"id":"fe66e7d7.2d8ce8","type":"mqtt in","z":"d41d5fda.f56fb","name":"증자1호 진동센서 온도","topic":"RotaryCook3Sensor2/Temp","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":120,"y":500,"wires":[["cece1049.c766f","319ed74f.02ff88"]]},{"id":"d7f85457.3d5f88","type":"ui_gauge","z":"d41d5fda.f56fb","name":"게이지_증자1호 X축 가속도(No.3)","group":"a240ec64.be1aa","order":3,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.3)","label":"units","format":"{{value}}","min":"-16500","max":"-15500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":600,"wires":[]},{"id":"8ee6214f.62264","type":"mqtt in","z":"d41d5fda.f56fb","name":"증자1호 X축 가속도","topic":"RotaryCook3Sensor3/XAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":600,"wires":[["d7f85457.3d5f88","db6e9d05.061ac","2e4d6e3a.3b8102"]]},{"id":"db6e9d05.061ac","type":"ui_chart","z":"d41d5fda.f56fb","name":"증자1호 X축 가속도(No.3)","group":"a240ec64.be1aa","order":6,"width":0,"height":0,"label":"X축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":600,"wires":[[]]},{"id":"8b7029be.660dd8","type":"ui_gauge","z":"d41d5fda.f56fb","name":"게이지_증자1호 Y축 가속도(No.3)","group":"ef743702.f87f28","order":3,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.3)","label":"units","format":"{{value}}","min":"-1000","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":660,"wires":[]},{"id":"cba6c737.a51078","type":"mqtt in","z":"d41d5fda.f56fb","name":"증자1호 Y축 가속도","topic":"RotaryCook3Sensor3/YAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":660,"wires":[["8b7029be.660dd8","6885c651.3d8b38","f1fd48ee.50cdf8"]]},{"id":"6885c651.3d8b38","type":"ui_chart","z":"d41d5fda.f56fb","name":"증자1호 Y축 가속도(No.3)","group":"ef743702.f87f28","order":6,"width":0,"height":0,"label":"Y축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":660,"wires":[[]]},{"id":"abdf4012.4c42b","type":"ui_gauge","z":"d41d5fda.f56fb","name":"게이지_증자1호 Z축 가속도(No.3)","group":"7891e96.743d818","order":3,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.3)","label":"units","format":"{{value}}","min":"-2500","max":"-1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":720,"wires":[]},{"id":"c56f660c.a59428","type":"mqtt in","z":"d41d5fda.f56fb","name":"증자1호 Z축 가속도","topic":"RotaryCook3Sensor3/ZAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":720,"wires":[["abdf4012.4c42b","b795f1b2.942b9","e847ae70.0787"]]},{"id":"b795f1b2.942b9","type":"ui_chart","z":"d41d5fda.f56fb","name":"증자1호 Z축 가속도(No.3)","group":"7891e96.743d818","order":6,"width":0,"height":0,"label":"Z축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":720,"wires":[[]]},{"id":"4ad30a71.087624","type":"mqtt in","z":"d41d5fda.f56fb","name":"증자1호 진동센서 온도","topic":"RotaryCook3Sensor3/Temp","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":120,"y":780,"wires":[["b24fbc9e.60241","584ac342.53c8cc"]]},{"id":"b24fbc9e.60241","type":"ui_gauge","z":"d41d5fda.f56fb","name":"게이지_진동센서 온도(No.3)","group":"9d46deeb.d9bf2","order":3,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.3)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":780,"wires":[]},{"id":"584ac342.53c8cc","type":"ui_chart","z":"d41d5fda.f56fb","name":"진동센서 온도(No.3)","group":"9d46deeb.d9bf2","order":5,"width":0,"height":0,"label":"온도 변동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":780,"wires":[[]]},{"id":"cece1049.c766f","type":"ui_chart","z":"d41d5fda.f56fb","name":"진동센서 온도(No.2)","group":"9d46deeb.d9bf2","order":6,"width":0,"height":0,"label":"온도 변동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2c4a72","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":500,"wires":[[]]},{"id":"319ed74f.02ff88","type":"ui_gauge","z":"d41d5fda.f56fb","name":"게이지_진동센서 온도(No.2)","group":"9d46deeb.d9bf2","order":2,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.2)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":500,"wires":[]},{"id":"73f1df19.cedd9","type":"ui_gauge","z":"ea9d9fef.0ac49","name":"게이지_증자1호 X축 가속도(No.1)","group":"569a91b7.79c6d","order":1,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.1)","label":"units","format":"{{value}}","min":"-8200","max":"-7200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":40,"wires":[]},{"id":"c8b22515.f166a8","type":"mqtt in","z":"ea9d9fef.0ac49","name":"증자1호 X축 가속도","topic":"RotaryCook4Sensor1/XAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":40,"wires":[["73f1df19.cedd9","2cd66f2f.febaf","6bbc84e4.a1207c"]]},{"id":"2cd66f2f.febaf","type":"ui_chart","z":"ea9d9fef.0ac49","name":"증자1호 X축 가속도(No.1)","group":"569a91b7.79c6d","order":4,"width":0,"height":0,"label":"X축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":40,"wires":[[]]},{"id":"c8cb1d2.c486ee","type":"ui_gauge","z":"ea9d9fef.0ac49","name":"게이지_증자1호 Y축 가속도(No.1)","group":"da8eb539.65ee78","order":1,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.1)","label":"units","format":"{{value}}","min":"-2700","max":"-1700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":100,"wires":[]},{"id":"f3e2eda7.7c63f","type":"mqtt in","z":"ea9d9fef.0ac49","name":"증자1호 Y축 가속도","topic":"RotaryCook4Sensor1/YAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":100,"wires":[["c8cb1d2.c486ee","206cebbe.e52394","3fae900.ff09e7"]]},{"id":"206cebbe.e52394","type":"ui_chart","z":"ea9d9fef.0ac49","name":"증자1호 Y축 가속도(No.1)","group":"da8eb539.65ee78","order":4,"width":0,"height":0,"label":"Y축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":100,"wires":[[]]},{"id":"d223ec03.88e3b","type":"ui_gauge","z":"ea9d9fef.0ac49","name":"게이지_증자1호 Z축 가속도(No.1)","group":"f088d6f9.48dfb8","order":1,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.1)","label":"units","format":"{{value}}","min":"13500","max":"14500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":160,"wires":[]},{"id":"634ee322.9fec2c","type":"mqtt in","z":"ea9d9fef.0ac49","name":"증자1호 Z축 가속도","topic":"RotaryCook4Sensor1/ZAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":160,"wires":[["d223ec03.88e3b","8c61367a.8c62a8","972759ff.2ad918"]]},{"id":"8c61367a.8c62a8","type":"ui_chart","z":"ea9d9fef.0ac49","name":"증자1호 Z축 가속도(No.1)","group":"f088d6f9.48dfb8","order":4,"width":0,"height":0,"label":"Z축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":160,"wires":[[]]},{"id":"5816436f.1bacbc","type":"mqtt in","z":"ea9d9fef.0ac49","name":"증자1호 진동센서 온도","topic":"RotaryCook4Sensor1/Temp","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":120,"y":220,"wires":[["798dd95c.7bfee8","f3676fa6.06631"]]},{"id":"798dd95c.7bfee8","type":"ui_gauge","z":"ea9d9fef.0ac49","name":"게이지_진동센서 온도(No.1)","group":"bff1d92c.2f6dc8","order":1,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.1)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":220,"wires":[]},{"id":"f3676fa6.06631","type":"ui_chart","z":"ea9d9fef.0ac49","name":"온도 변동폭(No.1)","group":"bff1d92c.2f6dc8","order":4,"width":0,"height":0,"label":"온도 변동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":220,"wires":[[]]},{"id":"ce0d108a.01b96","type":"ui_gauge","z":"ea9d9fef.0ac49","name":"게이지_증자1호 X축 가속도(No.2)","group":"569a91b7.79c6d","order":2,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.2)","label":"units","format":"{{value}}","min":"-16000","max":"-15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":320,"wires":[]},{"id":"8edaef67.d242a","type":"mqtt in","z":"ea9d9fef.0ac49","name":"증자1호 X축 가속도","topic":"RotaryCook4Sensor2/XAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":320,"wires":[["ce0d108a.01b96","42efc605.2d4378","c5a8bea3.24df6"]]},{"id":"42efc605.2d4378","type":"ui_chart","z":"ea9d9fef.0ac49","name":"증자1호 X축 가속도(No.2)","group":"569a91b7.79c6d","order":5,"width":0,"height":0,"label":"X축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#20608d","#385e8f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":320,"wires":[[]]},{"id":"8ee83a86.2c0398","type":"ui_gauge","z":"ea9d9fef.0ac49","name":"게이지_증자1호 Y축 가속도(No.2)","group":"da8eb539.65ee78","order":2,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.2)","label":"units","format":"{{value}}","min":"-1000","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":380,"wires":[]},{"id":"242a19d1.36dcc6","type":"mqtt in","z":"ea9d9fef.0ac49","name":"증자1호 Y축 가속도","topic":"RotaryCook4Sensor2/YAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":380,"wires":[["8ee83a86.2c0398","dd89ccee.b9ebd","ee459779.a66d08"]]},{"id":"dd89ccee.b9ebd","type":"ui_chart","z":"ea9d9fef.0ac49","name":"증자1호 Y축 가속도(No.2)","group":"da8eb539.65ee78","order":5,"width":0,"height":0,"label":"Y축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#22689b","#427ac2","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":380,"wires":[[]]},{"id":"57adffa.ad716","type":"ui_gauge","z":"ea9d9fef.0ac49","name":"게이지_증자1호 Z축 가속도(No.2)","group":"f088d6f9.48dfb8","order":2,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.2)","label":"units","format":"{{value}}","min":"-2500","max":"-1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":468,"y":440,"wires":[]},{"id":"115eb394.4a3b3c","type":"mqtt in","z":"ea9d9fef.0ac49","name":"증자1호 Z축 가속도","topic":"RotaryCook4Sensor2/ZAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":440,"wires":[["57adffa.ad716","ec4055f0.dc26b8","3b715621.fd630a"]]},{"id":"ec4055f0.dc26b8","type":"ui_chart","z":"ea9d9fef.0ac49","name":"증자1호 Z축 가속도(No.2)","group":"f088d6f9.48dfb8","order":5,"width":0,"height":0,"label":"Z축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2571a7","#3a69a6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":440,"wires":[[]]},{"id":"886898eb.6397d8","type":"mqtt in","z":"ea9d9fef.0ac49","name":"증자1호 진동센서 온도","topic":"RotaryCook4Sensor2/Temp","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":120,"y":500,"wires":[["7d26f53f.8c167c","ee95b3c3.ffef7"]]},{"id":"2c2f1490.e3a85c","type":"ui_gauge","z":"ea9d9fef.0ac49","name":"게이지_증자1호 X축 가속도(No.3)","group":"569a91b7.79c6d","order":3,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.3)","label":"units","format":"{{value}}","min":"-16500","max":"-15500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":600,"wires":[]},{"id":"441503c1.61a61c","type":"mqtt in","z":"ea9d9fef.0ac49","name":"증자1호 X축 가속도","topic":"RotaryCook4Sensor3/XAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":600,"wires":[["2c2f1490.e3a85c","7ac92226.6b39cc","67b30165.a7a25"]]},{"id":"7ac92226.6b39cc","type":"ui_chart","z":"ea9d9fef.0ac49","name":"증자1호 X축 가속도(No.3)","group":"569a91b7.79c6d","order":6,"width":0,"height":0,"label":"X축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":600,"wires":[[]]},{"id":"9e5f6341.685c4","type":"ui_gauge","z":"ea9d9fef.0ac49","name":"게이지_증자1호 Y축 가속도(No.3)","group":"da8eb539.65ee78","order":3,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.3)","label":"units","format":"{{value}}","min":"-300","max":"700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":660,"wires":[]},{"id":"fb5c1d7.382fee","type":"mqtt in","z":"ea9d9fef.0ac49","name":"증자1호 Y축 가속도","topic":"RotaryCook4Sensor3/YAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":660,"wires":[["9e5f6341.685c4","2216528.94fd1ae","72b16b8.cbb3f94"]]},{"id":"2216528.94fd1ae","type":"ui_chart","z":"ea9d9fef.0ac49","name":"증자1호 Y축 가속도(No.3)","group":"da8eb539.65ee78","order":6,"width":0,"height":0,"label":"Y축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":660,"wires":[[]]},{"id":"b85040e.cbdfdc","type":"ui_gauge","z":"ea9d9fef.0ac49","name":"게이지_증자1호 Z축 가속도(No.3)","group":"f088d6f9.48dfb8","order":3,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.3)","label":"units","format":"{{value}}","min":"-3000","max":"-2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":720,"wires":[]},{"id":"923fdb8b.b0b588","type":"mqtt in","z":"ea9d9fef.0ac49","name":"증자1호 Z축 가속도","topic":"RotaryCook4Sensor3/ZAcc","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":110,"y":720,"wires":[["b85040e.cbdfdc","1749ff1e.cf8ec1","b5f8a7ab.0b07b8"]]},{"id":"1749ff1e.cf8ec1","type":"ui_chart","z":"ea9d9fef.0ac49","name":"증자1호 Z축 가속도(No.3)","group":"f088d6f9.48dfb8","order":6,"width":0,"height":0,"label":"Z축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":720,"wires":[[]]},{"id":"25c050f.526a3b","type":"mqtt in","z":"ea9d9fef.0ac49","name":"증자1호 진동센서 온도","topic":"RotaryCook4Sensor3/Temp","qos":"0","datatype":"auto","broker":"3f998c1e.6dcaa4","x":120,"y":780,"wires":[["90e6190c.56ed08","724403c2.8a696c"]]},{"id":"90e6190c.56ed08","type":"ui_gauge","z":"ea9d9fef.0ac49","name":"게이지_진동센서 온도(No.3)","group":"bff1d92c.2f6dc8","order":3,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.3)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":780,"wires":[]},{"id":"724403c2.8a696c","type":"ui_chart","z":"ea9d9fef.0ac49","name":"진동센서 온도(No.3)","group":"bff1d92c.2f6dc8","order":5,"width":0,"height":0,"label":"온도 변동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":780,"wires":[[]]},{"id":"7d26f53f.8c167c","type":"ui_chart","z":"ea9d9fef.0ac49","name":"진동센서 온도(No.2)","group":"bff1d92c.2f6dc8","order":6,"width":0,"height":0,"label":"온도 변동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2c4a72","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":500,"wires":[[]]},{"id":"ee95b3c3.ffef7","type":"ui_gauge","z":"ea9d9fef.0ac49","name":"게이지_진동센서 온도(No.2)","group":"bff1d92c.2f6dc8","order":2,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.2)","label":"℃","format":"{{value}}","min":"-900","max":"-400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":500,"wires":[]},{"id":"ed8a62fc.85516","type":"ui_chart","z":"f083fa31.8277f8","name":"1번 센서 X축","group":"983f2c8.fbcb3d","order":1,"width":22,"height":5,"label":"1번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":40,"wires":[[]]},{"id":"b34d1160.f236c","type":"ui_chart","z":"f083fa31.8277f8","name":"1번 센서 Y축","group":"983f2c8.fbcb3d","order":2,"width":22,"height":5,"label":"1번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":100,"wires":[[]]},{"id":"50d4e61c.d6a0a8","type":"ui_chart","z":"f083fa31.8277f8","name":"1번 센서 Z축","group":"983f2c8.fbcb3d","order":3,"width":22,"height":5,"label":"1번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":160,"wires":[[]]},{"id":"cced085f.1c30e8","type":"ui_chart","z":"f083fa31.8277f8","name":"2번 센서 X축","group":"983f2c8.fbcb3d","order":5,"width":22,"height":5,"label":"2번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":320,"wires":[[]]},{"id":"916e6e1b.1e2e7","type":"ui_chart","z":"f083fa31.8277f8","name":"2번 센서 Y축","group":"983f2c8.fbcb3d","order":6,"width":22,"height":5,"label":"2번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":380,"wires":[[]]},{"id":"9d57ed82.0bf25","type":"ui_chart","z":"f083fa31.8277f8","name":"2번 센서 Z축","group":"983f2c8.fbcb3d","order":7,"width":22,"height":5,"label":"2번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":440,"wires":[[]]},{"id":"bd993b63.83e448","type":"ui_chart","z":"f083fa31.8277f8","name":"3번 센서 X축","group":"983f2c8.fbcb3d","order":9,"width":22,"height":5,"label":"3번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":600,"wires":[[]]},{"id":"6fc9909e.9ee2d","type":"ui_chart","z":"f083fa31.8277f8","name":"3번 센서 Y축","group":"983f2c8.fbcb3d","order":10,"width":22,"height":5,"label":"3번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":660,"wires":[[]]},{"id":"1cddab9d.fdf4f4","type":"ui_chart","z":"f083fa31.8277f8","name":"3번 센서 Z축","group":"983f2c8.fbcb3d","order":11,"width":22,"height":5,"label":"3번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":720,"wires":[[]]},{"id":"fa0c2b12.364708","type":"ui_chart","z":"c9fa7fef.3247","name":"1번 센서 X축","group":"5e75fb8e.336c14","order":1,"width":22,"height":5,"label":"1번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":60,"wires":[[]]},{"id":"f6bc0020.e52bf","type":"ui_chart","z":"c9fa7fef.3247","name":"1번 센서 Y축","group":"5e75fb8e.336c14","order":2,"width":22,"height":5,"label":"1번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":120,"wires":[[]]},{"id":"7d9ba2e2.d983bc","type":"ui_chart","z":"c9fa7fef.3247","name":"1번 센서 Z축","group":"5e75fb8e.336c14","order":3,"width":22,"height":5,"label":"1번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":180,"wires":[[]]},{"id":"e77ffcd8.c8b72","type":"ui_chart","z":"c9fa7fef.3247","name":"2번 센서 X축","group":"5e75fb8e.336c14","order":5,"width":22,"height":5,"label":"2번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":340,"wires":[[]]},{"id":"d80c2485.f863b8","type":"ui_chart","z":"c9fa7fef.3247","name":"2번 센서 Y축","group":"5e75fb8e.336c14","order":6,"width":22,"height":5,"label":"2번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":400,"wires":[[]]},{"id":"ff5ddb80.5cdac8","type":"ui_chart","z":"c9fa7fef.3247","name":"2번 센서 Z축","group":"5e75fb8e.336c14","order":7,"width":22,"height":5,"label":"2번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":460,"wires":[[]]},{"id":"50b158f0.70b798","type":"ui_chart","z":"c9fa7fef.3247","name":"3번 센서 X축","group":"5e75fb8e.336c14","order":9,"width":22,"height":5,"label":"3번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":620,"wires":[[]]},{"id":"cb4d34c9.787348","type":"ui_chart","z":"c9fa7fef.3247","name":"3번 센서 Y축","group":"5e75fb8e.336c14","order":10,"width":22,"height":5,"label":"3번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":680,"wires":[[]]},{"id":"7690e9db.62ff78","type":"ui_chart","z":"c9fa7fef.3247","name":"3번 센서 Z축","group":"5e75fb8e.336c14","order":11,"width":22,"height":5,"label":"3번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":740,"wires":[[]]},{"id":"f5fc8e90.4c1e5","type":"ui_chart","z":"d41d5fda.f56fb","name":"1번 센서 X축","group":"bc465c42.91435","order":1,"width":22,"height":5,"label":"1번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":40,"wires":[[]]},{"id":"9478422e.94519","type":"ui_chart","z":"d41d5fda.f56fb","name":"1번 센서 Y축","group":"bc465c42.91435","order":2,"width":22,"height":5,"label":"1번 센서Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":100,"wires":[[]]},{"id":"810f8bc1.95dfa8","type":"ui_chart","z":"d41d5fda.f56fb","name":"1번 센서 Z축","group":"bc465c42.91435","order":3,"width":22,"height":5,"label":"1번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":160,"wires":[[]]},{"id":"3b46fc5d.273754","type":"ui_chart","z":"d41d5fda.f56fb","name":"2번 센서 X축","group":"bc465c42.91435","order":5,"width":22,"height":5,"label":"2번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":320,"wires":[[]]},{"id":"9a689040.a90d5","type":"ui_chart","z":"d41d5fda.f56fb","name":"2번 센서 Y축","group":"bc465c42.91435","order":6,"width":22,"height":5,"label":"2번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":380,"wires":[[]]},{"id":"a8910013.d5e87","type":"ui_chart","z":"d41d5fda.f56fb","name":"2번 센서 Z축","group":"bc465c42.91435","order":7,"width":22,"height":5,"label":"2번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":440,"wires":[[]]},{"id":"2e4d6e3a.3b8102","type":"ui_chart","z":"d41d5fda.f56fb","name":"3번 센서 X축","group":"bc465c42.91435","order":9,"width":22,"height":5,"label":"3번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":600,"wires":[[]]},{"id":"f1fd48ee.50cdf8","type":"ui_chart","z":"d41d5fda.f56fb","name":"3번 센서 Y축","group":"bc465c42.91435","order":10,"width":22,"height":5,"label":"3번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":660,"wires":[[]]},{"id":"e847ae70.0787","type":"ui_chart","z":"d41d5fda.f56fb","name":"3번 센서 Z축","group":"bc465c42.91435","order":11,"width":22,"height":5,"label":"3번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":720,"wires":[[]]},{"id":"6bbc84e4.a1207c","type":"ui_chart","z":"ea9d9fef.0ac49","name":"1번 센서 X축","group":"18a26dee.83c392","order":1,"width":22,"height":5,"label":"1번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":40,"wires":[[]]},{"id":"3fae900.ff09e7","type":"ui_chart","z":"ea9d9fef.0ac49","name":"1번 센서 Y축","group":"18a26dee.83c392","order":2,"width":22,"height":5,"label":"1번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":100,"wires":[[]]},{"id":"972759ff.2ad918","type":"ui_chart","z":"ea9d9fef.0ac49","name":"1번 센서 Z축","group":"18a26dee.83c392","order":3,"width":22,"height":5,"label":"1번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":160,"wires":[[]]},{"id":"c5a8bea3.24df6","type":"ui_chart","z":"ea9d9fef.0ac49","name":"2번 센서 X축","group":"18a26dee.83c392","order":5,"width":22,"height":5,"label":"2번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":320,"wires":[[]]},{"id":"ee459779.a66d08","type":"ui_chart","z":"ea9d9fef.0ac49","name":"2번 센서 Y축","group":"18a26dee.83c392","order":6,"width":22,"height":5,"label":"2번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":380,"wires":[[]]},{"id":"3b715621.fd630a","type":"ui_chart","z":"ea9d9fef.0ac49","name":"2번 센서 Z축","group":"18a26dee.83c392","order":7,"width":22,"height":5,"label":"2번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":440,"wires":[[]]},{"id":"67b30165.a7a25","type":"ui_chart","z":"ea9d9fef.0ac49","name":"3번 센서 X축","group":"18a26dee.83c392","order":9,"width":22,"height":5,"label":"3번 센서 X축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":600,"wires":[[]]},{"id":"72b16b8.cbb3f94","type":"ui_chart","z":"ea9d9fef.0ac49","name":"3번 센서 Y축","group":"18a26dee.83c392","order":10,"width":22,"height":5,"label":"3번 센서 Y축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":660,"wires":[[]]},{"id":"b5f8a7ab.0b07b8","type":"ui_chart","z":"ea9d9fef.0ac49","name":"3번 센서 Z축","group":"18a26dee.83c392","order":11,"width":22,"height":5,"label":"3번 센서 Z축","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":720,"wires":[[]]},{"id":"8f00575.3eea4a8","type":"ui_template","z":"f083fa31.8277f8","group":"adb7279b.9dbbe8","name":"ESP32-CAM","order":2,"width":0,"height":0,"format":"<div>\n    <img src=\"http://49.168.145.8:19134/mjpeg/1\" width=\"250\" height=\"220\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":390,"y":260,"wires":[["52bdc7e0.17b938"]]},{"id":"52bdc7e0.17b938","type":"ui_text","z":"f083fa31.8277f8","group":"adb7279b.9dbbe8","order":1,"width":0,"height":0,"name":"","label":"<font size=\"2\">증자1호 구동부 영상</font>","format":"{{msg.payload}}","layout":"row-left","x":660,"y":260,"wires":[]},{"id":"909ba796.1bf468","type":"ui_chart","z":"f083fa31.8277f8","name":"진동센서 온도(No.1)","group":"adb7279b.9dbbe8","order":3,"width":5,"height":3,"label":"<font size=\"2\">온도 변동폭(No.1)</font>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2c4a72","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":220,"wires":[[]]},{"id":"c853512d.ef109","type":"mqtt in","z":"7f6cedcf.e800a4","name":"Acc_X","topic":"RotaryCook1Sensor2/XAcc","qos":"0","datatype":"auto","broker":"e0cfdfdd.00eb7","x":110,"y":280,"wires":[["4d994a96.04af64"]]},{"id":"7e26779b.6b2828","type":"mqtt in","z":"7f6cedcf.e800a4","name":"Acc_Y","topic":"RotaryCook1Sensor2/YAcc","qos":"0","datatype":"auto","broker":"e0cfdfdd.00eb7","x":107.9999885559082,"y":331.33330726623535,"wires":[["4d994a96.04af64"]]},{"id":"1aca815a.652f0f","type":"mqtt in","z":"7f6cedcf.e800a4","name":"Acc_Z","topic":"RotaryCook1Sensor2/ZAcc","qos":"0","datatype":"auto","broker":"e0cfdfdd.00eb7","x":110,"y":383.22221851348877,"wires":[["4d994a96.04af64"]]},{"id":"8d76a3d3.a7582","type":"mqtt in","z":"7f6cedcf.e800a4","name":"Temp","topic":"RotaryCook1Sensor2/Temp","qos":"0","datatype":"auto","broker":"e0cfdfdd.00eb7","x":109.22220611572266,"y":440.1110668182373,"wires":[["4d994a96.04af64"]]},{"id":"89453abd.1d22e8","type":"mqtt in","z":"7f6cedcf.e800a4","name":"Acc_X","topic":"RotaryCook1Sensor3/XAcc","qos":"0","datatype":"auto","broker":"e0cfdfdd.00eb7","x":110,"y":500,"wires":[["4d994a96.04af64"]]},{"id":"1ec81a5f.ab43b6","type":"mqtt in","z":"7f6cedcf.e800a4","name":"Acc_Y","topic":"RotaryCook1Sensor3/YAcc","qos":"0","datatype":"auto","broker":"e0cfdfdd.00eb7","x":107.9999885559082,"y":551.3333072662354,"wires":[["4d994a96.04af64"]]},{"id":"32b9914b.373b3e","type":"mqtt in","z":"7f6cedcf.e800a4","name":"Acc_Z","topic":"RotaryCook1Sensor3/ZAcc","qos":"0","datatype":"auto","broker":"e0cfdfdd.00eb7","x":110,"y":603.2222185134888,"wires":[["4d994a96.04af64"]]},{"id":"7223d8bd.326758","type":"mqtt in","z":"7f6cedcf.e800a4","name":"Temp","topic":"RotaryCook1Sensor3/Temp","qos":"0","datatype":"auto","broker":"e0cfdfdd.00eb7","x":109.22220611572266,"y":660.1110668182373,"wires":[["4d994a96.04af64"]]}]