node-red/20201208.json
[{"id":"9a1e0c29.c1dcf","type":"tab","label":"MPU6050_Acc","disabled":false,"info":""},{"id":"708a0e85.df0af","type":"tab","label":"MPU6050_Gyro","disabled":false,"info":""},{"id":"d73865ad.4c2998","type":"tab","label":"ESP32_CAM","disabled":false,"info":""},{"id":"22a449b3.6d5976","type":"tab","label":"influxDB","disabled":false,"info":""},{"id":"60a8f472.bf973c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"증자1호기","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f1a387e.6e5f88","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.33","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1da46804.afa2a8","type":"influxdb","z":"","hostname":"192.168.0.33","port":"8086","protocol":"http","database":"test_data","name":"InfuxDB-Intrusion-Data","usetls":false,"tls":""},{"id":"9a3a72e7.b224c","type":"ui_spacer","name":"spacer","group":"9687a27.ea6b16","order":1,"width":4,"height":1},{"id":"a9008416.ac5f78","type":"ui_group","z":"","name":"X센서 No.1","tab":"5bb76b30.c7c8e4","order":1,"disp":false,"width":5,"collapse":false},{"id":"c32d60a4.705ce","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.33","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b1d5adb8.3f229","type":"ui_group","z":"","name":"Y센서 No.1","tab":"5bb76b30.c7c8e4","order":2,"disp":false,"width":5,"collapse":false},{"id":"739e2803.5a1a58","type":"ui_group","z":"","name":"Z센서 No.1","tab":"5bb76b30.c7c8e4","order":3,"disp":false,"width":5,"collapse":false},{"id":"b038e2e5.35d3f","type":"ui_group","z":"","name":"T센서 No.1","tab":"5bb76b30.c7c8e4","order":4,"disp":false,"width":"5","collapse":false},{"id":"5bb76b30.c7c8e4","type":"ui_tab","z":"","name":"증자 1호 가속도( Acc) 데이터","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7bd8bc7e.5c08b4","type":"ui_tab","z":"","name":"증자 1호 각속도(Gyro) 데이터","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"49f5617b.9d389","type":"ui_group","z":"","name":"X센서","tab":"7bd8bc7e.5c08b4","order":1,"disp":true,"width":5,"collapse":false},{"id":"999dc397.6c74b","type":"ui_group","z":"","name":"Y센서","tab":"7bd8bc7e.5c08b4","order":2,"disp":true,"width":5,"collapse":false},{"id":"7352b336.76cddc","type":"ui_group","z":"","name":"Z센서","tab":"7bd8bc7e.5c08b4","order":3,"disp":true,"width":5,"collapse":false},{"id":"ffaa85c1.060358","type":"ui_group","z":"","name":"T센서","tab":"7bd8bc7e.5c08b4","order":4,"disp":true,"width":5,"collapse":false},{"id":"c9601065.42dfb","type":"ui_spacer","name":"spacer","group":"49f5617b.9d389","order":5,"width":5,"height":1},{"id":"5a45158e.3c334c","type":"ui_spacer","name":"spacer","group":"49f5617b.9d389","order":7,"width":5,"height":1},{"id":"83dd1622.6cd778","type":"ui_spacer","name":"spacer","group":"999dc397.6c74b","order":5,"width":5,"height":1},{"id":"339dfbd4.d78b24","type":"ui_spacer","name":"spacer","group":"999dc397.6c74b","order":7,"width":5,"height":1},{"id":"a59ab22c.0e753","type":"ui_spacer","name":"spacer","group":"7352b336.76cddc","order":5,"width":5,"height":1},{"id":"c623b2a0.833d3","type":"ui_spacer","name":"spacer","group":"7352b336.76cddc","order":7,"width":5,"height":1},{"id":"e49ce90e.6713e8","type":"ui_spacer","name":"spacer","group":"ffaa85c1.060358","order":5,"width":5,"height":1},{"id":"c8d1cdd5.143c6","type":"ui_spacer","name":"spacer","group":"ffaa85c1.060358","order":7,"width":5,"height":1},{"id":"457babc9.91a9a4","type":"ui_group","z":"","name":"증자 1호","tab":"86431497.fbffe8","order":1,"disp":true,"width":"10","collapse":false},{"id":"86431497.fbffe8","type":"ui_tab","z":"","name":"증자 1호 기어 구동부","icon":"dashboard","disabled":false,"hidden":false},{"id":"2f266adc.011186","type":"mqtt in","z":"22a449b3.6d5976","name":"Acc_X","topic":"/RotaryCook1Sensor1/XAcc","qos":"1","datatype":"auto","broker":"5f1a387e.6e5f88","x":110,"y":60,"wires":[["f391c8da.1129a8"]]},{"id":"2ab60a31.3d6d36","type":"mqtt in","z":"22a449b3.6d5976","name":"Acc_Y","topic":"/RotaryCook1Sensor1/YAcc","qos":"1","datatype":"auto","broker":"5f1a387e.6e5f88","x":107.9999885559082,"y":111.33330726623535,"wires":[["f391c8da.1129a8"]]},{"id":"a57ca342.34063","type":"mqtt in","z":"22a449b3.6d5976","name":"Acc_Z","topic":"/RotaryCook1Sensor1/ZAcc","qos":"2","datatype":"auto","broker":"5f1a387e.6e5f88","x":110,"y":163.22221851348877,"wires":[["f391c8da.1129a8"]]},{"id":"f391c8da.1129a8","type":"join","z":"22a449b3.6d5976","name":"Join Sensor Data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":359.99998474121094,"y":142.22221851348877,"wires":[["8749ab9.faaa558","88294ae8.10a198"]]},{"id":"8749ab9.faaa558","type":"influxdb out","z":"22a449b3.6d5976","influxdb":"1da46804.afa2a8","name":"InfuxDB-Intrusion-Data","measurement":"insert_data","precision":"","retentionPolicy":"","x":594.1111221313477,"y":226.99996376037598,"wires":[]},{"id":"88294ae8.10a198","type":"debug","z":"22a449b3.6d5976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":584.3333587646484,"y":68.55553817749023,"wires":[]},{"id":"3307457a.68503a","type":"mqtt in","z":"22a449b3.6d5976","name":"Temp","topic":"/RotaryCook1Sensor1/Temp","qos":"1","datatype":"auto","broker":"5f1a387e.6e5f88","x":109.22220611572266,"y":220.1110668182373,"wires":[["f391c8da.1129a8"]]},{"id":"c062d658.19f1c8","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 X축 가속도(No.1)","group":"a9008416.ac5f78","order":1,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.1)","label":"units","format":"{{value}}","min":"-1200","max":"-1700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":40,"wires":[]},{"id":"3eacef4b.b392f","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 X축 가속도","topic":"/RotaryCook1Sensor1/XAcc","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":40,"wires":[["c062d658.19f1c8","564fb351.ad9a8c"]]},{"id":"564fb351.ad9a8c","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 X축 가속도(No.1)","group":"a9008416.ac5f78","order":4,"width":0,"height":0,"label":"X축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":40,"wires":[[]]},{"id":"f17ceb33.4d89a8","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 Y축 가속도(No.1)","group":"b1d5adb8.3f229","order":1,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.1)","label":"units","format":"{{value}}","min":"-50","max":"-450","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":100,"wires":[]},{"id":"3f101131.0725ce","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 Y축 가속도","topic":"/RotaryCook1Sensor1/YAcc","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":100,"wires":[["f17ceb33.4d89a8","c3c0c81b.94e978"]]},{"id":"c3c0c81b.94e978","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 Y축 가속도(No.1)","group":"b1d5adb8.3f229","order":4,"width":0,"height":0,"label":"Y축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":100,"wires":[[]]},{"id":"581cad4a.3ff7c4","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 Z축 가속도(No.1)","group":"739e2803.5a1a58","order":1,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.1)","label":"units","format":"{{value}}","min":"14400","max":"14900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":160,"wires":[]},{"id":"cd9348ac.d12cb8","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 Z축 가속도","topic":"/RotaryCook1Sensor1/ZAcc","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":160,"wires":[["581cad4a.3ff7c4","bf196855.6e7518"]]},{"id":"bf196855.6e7518","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 Z축 가속도(No.1)","group":"739e2803.5a1a58","order":4,"width":0,"height":0,"label":"Z축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":160,"wires":[[]]},{"id":"f0353705.8e27e8","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 진동센서 온도","topic":"/RotaryCook1Sensor1/Temp","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":140,"y":220,"wires":[["e7594951.030a08","be093553.0c77d8"]]},{"id":"e7594951.030a08","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_진동센서 온도(No.1)","group":"b038e2e5.35d3f","order":1,"width":"0","height":"0","gtype":"compass","title":"진동센서 온도(No.1)","label":"℃","format":"{{value}}","min":"-400","max":"-900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":220,"wires":[]},{"id":"be093553.0c77d8","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"온도 변동폭(No.1)","group":"b038e2e5.35d3f","order":4,"width":0,"height":0,"label":"온도 변동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":220,"wires":[[]]},{"id":"37263c84.139824","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 X축 가속도(No.2)","group":"a9008416.ac5f78","order":2,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.2)","label":"units","format":"{{value}}","min":"-17000","max":"-17500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":320,"wires":[]},{"id":"9eb243f4.ec4b1","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 X축 가속도","topic":"/RotaryCook1Sensor2/XAcc","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":320,"wires":[["37263c84.139824","dac3e4e6.d4db08"]]},{"id":"dac3e4e6.d4db08","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 X축 가속도(No.2)","group":"a9008416.ac5f78","order":5,"width":0,"height":0,"label":"X축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#20608d","#385e8f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":320,"wires":[[]]},{"id":"3d4decbd.e6d3d4","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 Y축 가속도(No.2)","group":"b1d5adb8.3f229","order":2,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.2)","label":"units","format":"{{value}}","min":"-0","max":"-500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":380,"wires":[]},{"id":"6511360d.aa4668","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 Y축 가속도","topic":"/RotaryCook1Sensor2/YAcc","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":380,"wires":[["3d4decbd.e6d3d4","37a0ab7.4a7e554"]]},{"id":"37a0ab7.4a7e554","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 Y축 가속도(No.2)","group":"b1d5adb8.3f229","order":5,"width":0,"height":0,"label":"Y축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#22689b","#427ac2","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":380,"wires":[[]]},{"id":"3aa83aba.4bc226","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 Z축 가속도(No.2)","group":"739e2803.5a1a58","order":2,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.2)","label":"units","format":"{{value}}","min":"-3500","max":"-4000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":440,"wires":[]},{"id":"6bee98a5.0d79f8","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 Z축 가속도","topic":"/RotaryCook1Sensor2/ZAcc","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":440,"wires":[["3aa83aba.4bc226","bcd6b1db.63a04"]]},{"id":"bcd6b1db.63a04","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 Z축 가속도(No.2)","group":"739e2803.5a1a58","order":5,"width":0,"height":0,"label":"Z축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2571a7","#3a69a6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":440,"wires":[[]]},{"id":"bca1a8d7.773288","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 진동센서 온도","topic":"/RotaryCook1Sensor2/Temp","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":140,"y":500,"wires":[["388b4643.eba7aa","a5b8fb4b.fa0ba8"]]},{"id":"f6b361db.05fb1","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 X축 가속도(No.3)","group":"a9008416.ac5f78","order":3,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.3)","label":"units","format":"{{value}}","min":"-15600","max":"-17100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":600,"wires":[]},{"id":"80f7c143.bbd1b","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 X축 가속도","topic":"/RotaryCook1Sensor3/XAcc","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":600,"wires":[["f6b361db.05fb1","180976dd.83d109"]]},{"id":"180976dd.83d109","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 X축 가속도(No.3)","group":"a9008416.ac5f78","order":6,"width":0,"height":0,"label":"X축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":600,"wires":[[]]},{"id":"23696578.0bd3ba","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 Y축 가속도(No.3)","group":"b1d5adb8.3f229","order":3,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.3)","label":"units","format":"{{value}}","min":"-1350","max":"-1850","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":660,"wires":[]},{"id":"e3fed5b1.59b868","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 Y축 가속도","topic":"/RotaryCook1Sensor3/YAcc","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":660,"wires":[["23696578.0bd3ba","f87be271.dfe9a"]]},{"id":"f87be271.dfe9a","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 Y축 가속도(No.3)","group":"b1d5adb8.3f229","order":6,"width":0,"height":0,"label":"Y축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":660,"wires":[[]]},{"id":"1d29a00e.3c0ac","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_증자1호 Z축 가속도(No.3)","group":"739e2803.5a1a58","order":3,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.3)","label":"units","format":"{{value}}","min":"-3500","max":"-4000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":720,"wires":[]},{"id":"ac751892.a1db68","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 Z축 가속도","topic":"/RotaryCook1Sensor3/ZAcc","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":720,"wires":[["1d29a00e.3c0ac","42d1f7e7.d75df8"]]},{"id":"42d1f7e7.d75df8","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"증자1호 Z축 가속도(No.3)","group":"739e2803.5a1a58","order":6,"width":0,"height":0,"label":"Z축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":720,"wires":[[]]},{"id":"a07e949e.139ab8","type":"mqtt in","z":"9a1e0c29.c1dcf","name":"증자1호 진동센서 온도","topic":"/RotaryCook1Sensor3/Temp","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":140,"y":780,"wires":[["a5461a90.2ccaf8","3fa20b.0e1dadf6"]]},{"id":"a5461a90.2ccaf8","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_진동센서 온도(No.3)","group":"b038e2e5.35d3f","order":3,"width":"0","height":"0","gtype":"compass","title":"진동센서 온도(No.3)","label":"℃","format":"{{value}}","min":"-400","max":"-900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":780,"wires":[]},{"id":"3fa20b.0e1dadf6","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"진동센서 온도(No.3)","group":"b038e2e5.35d3f","order":6,"width":0,"height":0,"label":"온도 변동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":780,"wires":[[]]},{"id":"388b4643.eba7aa","type":"ui_chart","z":"9a1e0c29.c1dcf","name":"진동센서 온도(No.2)","group":"b038e2e5.35d3f","order":5,"width":0,"height":0,"label":"온도 변동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2c4a72","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":500,"wires":[[]]},{"id":"a5b8fb4b.fa0ba8","type":"ui_gauge","z":"9a1e0c29.c1dcf","name":"게이지_진동센서 온도(No.2)","group":"b038e2e5.35d3f","order":2,"width":"0","height":"0","gtype":"compass","title":"진동센서 온도(No.2)","label":"℃","format":"{{value}}","min":"-400","max":"-900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":500,"wires":[]},{"id":"eae124bb.26af58","type":"ui_gauge","z":"708a0e85.df0af","name":"게이지_증자1호 X축 각속도(No.1)","group":"49f5617b.9d389","order":1,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.1)","label":"units","format":"{{value}}","min":"-200","max":"-700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":40,"wires":[]},{"id":"515e92f9.66d36c","type":"mqtt in","z":"708a0e85.df0af","name":"증자1호 X축 각속도","topic":"/RotaryCook1Sensor1/XGyro","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":40,"wires":[["eae124bb.26af58","f0cb8a96.f7f6a8"]]},{"id":"f0cb8a96.f7f6a8","type":"ui_chart","z":"708a0e85.df0af","name":"증자1호 X축 각속도(No.1)","group":"49f5617b.9d389","order":4,"width":0,"height":0,"label":"X축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":40,"wires":[[]]},{"id":"519467e0.b0ca88","type":"ui_gauge","z":"708a0e85.df0af","name":"게이지_증자1호 Y축 각속도(No.1)","group":"999dc397.6c74b","order":1,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.1)","label":"units","format":"{{value}}","min":"-370","max":"-870","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":100,"wires":[]},{"id":"a0c8cc03.8e1ac","type":"mqtt in","z":"708a0e85.df0af","name":"증자1호 Y축 각속도","topic":"/RotaryCook1Sensor1/YGyro","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":100,"wires":[["519467e0.b0ca88","766fcd0e.efcd04"]]},{"id":"766fcd0e.efcd04","type":"ui_chart","z":"708a0e85.df0af","name":"증자1호 Y축 각속도(No.1)","group":"999dc397.6c74b","order":4,"width":0,"height":0,"label":"Y축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":100,"wires":[[]]},{"id":"9984ec9e.ad88c","type":"ui_gauge","z":"708a0e85.df0af","name":"게이지_증자1호 Z축 각속도(No.1)","group":"7352b336.76cddc","order":1,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.1)","label":"units","format":"{{value}}","min":"0","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":160,"wires":[]},{"id":"2187c39d.b7a3ec","type":"mqtt in","z":"708a0e85.df0af","name":"증자1호 Z축 각속도","topic":"/RotaryCook1Sensor1/ZGyro","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":160,"wires":[["9984ec9e.ad88c","edae1aab.6d2528"]]},{"id":"edae1aab.6d2528","type":"ui_chart","z":"708a0e85.df0af","name":"증자1호 Z축 각속도(No.1)","group":"7352b336.76cddc","order":4,"width":0,"height":0,"label":"Z축 진동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":160,"wires":[[]]},{"id":"d3eec63f.bb0378","type":"mqtt in","z":"708a0e85.df0af","name":"증자1호 진동센서 온도","topic":"/RotaryCook1Sensor1/Temp","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":140,"y":220,"wires":[["d787ebd3.b6c8b8","5b03f8bf.7aaaa8"]]},{"id":"d787ebd3.b6c8b8","type":"ui_gauge","z":"708a0e85.df0af","name":"게이지_진동센서 온도(No.1)","group":"ffaa85c1.060358","order":1,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.1)","label":"℃","format":"{{value}}","min":"-400","max":"-900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":220,"wires":[]},{"id":"5b03f8bf.7aaaa8","type":"ui_chart","z":"708a0e85.df0af","name":"온도 변동폭(No.1)","group":"ffaa85c1.060358","order":4,"width":0,"height":0,"label":"온도 변동폭(No.1)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":220,"wires":[[]]},{"id":"2db3db43.416914","type":"ui_gauge","z":"708a0e85.df0af","name":"게이지_증자1호 X축 각속도(No.2)","group":"49f5617b.9d389","order":2,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.2)","label":"units","format":"{{value}}","min":"-600","max":"-100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":320,"wires":[]},{"id":"fa075119.748c1","type":"mqtt in","z":"708a0e85.df0af","name":"증자1호 X축 각속도","topic":"/RotaryCook1Sensor2/XGyro","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":320,"wires":[["2db3db43.416914","17fe3ae.94843c5"]]},{"id":"17fe3ae.94843c5","type":"ui_chart","z":"708a0e85.df0af","name":"증자1호 X축 각속도(No.2)","group":"49f5617b.9d389","order":6,"width":0,"height":0,"label":"X축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3181b9","#2b60a6","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":320,"wires":[[]]},{"id":"8fb5baea.0b3608","type":"ui_gauge","z":"708a0e85.df0af","name":"게이지_증자1호 Y축 각속도(No.2)","group":"999dc397.6c74b","order":2,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.2)","label":"units","format":"{{value}}","min":"200","max":"700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":380,"wires":[]},{"id":"856a9e17.bb958","type":"mqtt in","z":"708a0e85.df0af","name":"증자1호 Y축 각속도","topic":"/RotaryCook1Sensor2/YGyro","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":380,"wires":[["8fb5baea.0b3608","cbebab82.9d28b8"]]},{"id":"cbebab82.9d28b8","type":"ui_chart","z":"708a0e85.df0af","name":"증자1호 Y축 각속도(No.2)","group":"999dc397.6c74b","order":6,"width":0,"height":0,"label":"Y축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2c6a96","#2664b5","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":380,"wires":[[]]},{"id":"7d905466.a4fcac","type":"ui_gauge","z":"708a0e85.df0af","name":"게이지_증자1호 Z축 각속도(No.2)","group":"7352b336.76cddc","order":2,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.2)","label":"units","format":"{{value}}","min":"-200","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":440,"wires":[]},{"id":"155a5347.2e94ad","type":"mqtt in","z":"708a0e85.df0af","name":"증자1호 Z축 각속도","topic":"/RotaryCook1Sensor2/ZGyro","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":440,"wires":[["7d905466.a4fcac","79905823.3b4668"]]},{"id":"79905823.3b4668","type":"ui_chart","z":"708a0e85.df0af","name":"증자1호 Z축 각속도(No.2)","group":"7352b336.76cddc","order":6,"width":0,"height":0,"label":"Z축 진동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3774a0","#1d5195","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":440,"wires":[[]]},{"id":"e181ed1a.b61e1","type":"mqtt in","z":"708a0e85.df0af","name":"증자1호 진동센서 온도","topic":"/RotaryCook1Sensor2/Temp","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":140,"y":500,"wires":[["b6335ab0.af3358","da6da131.dd892"]]},{"id":"69d63de4.25b394","type":"ui_gauge","z":"708a0e85.df0af","name":"게이지_증자1호 X축 각속도(No.3)","group":"49f5617b.9d389","order":3,"width":0,"height":0,"gtype":"gage","title":"X축 감도(No.3)","label":"units","format":"{{value}}","min":"-1300","max":"-800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":600,"wires":[]},{"id":"51d1f5b3.baf0fc","type":"mqtt in","z":"708a0e85.df0af","name":"증자1호 X축 각속도","topic":"/RotaryCook1Sensor3/XGyro","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":600,"wires":[["69d63de4.25b394","6b569ea7.373f2"]]},{"id":"6b569ea7.373f2","type":"ui_chart","z":"708a0e85.df0af","name":"증자1호 X축 각속도(No.3)","group":"49f5617b.9d389","order":8,"width":0,"height":0,"label":"X축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":600,"wires":[[]]},{"id":"a39d9d32.92395","type":"ui_gauge","z":"708a0e85.df0af","name":"게이지_증자1호 Y축 각속도(No.3)","group":"999dc397.6c74b","order":3,"width":0,"height":0,"gtype":"gage","title":"Y축 감도(No.3)","label":"units","format":"{{value}}","min":"-100","max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":660,"wires":[]},{"id":"d58391.3cf30c7","type":"mqtt in","z":"708a0e85.df0af","name":"증자1호 Y축 각속도","topic":"/RotaryCook1Sensor3/YGyro","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":660,"wires":[["a39d9d32.92395","419cf1c6.67e09"]]},{"id":"419cf1c6.67e09","type":"ui_chart","z":"708a0e85.df0af","name":"증자1호 Y축 각속도(No.3)","group":"999dc397.6c74b","order":8,"width":0,"height":0,"label":"Y축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":660,"wires":[[]]},{"id":"43c76e05.d8b25","type":"ui_gauge","z":"708a0e85.df0af","name":"게이지_증자1호 Z축 각속도(No.3)","group":"7352b336.76cddc","order":3,"width":0,"height":0,"gtype":"gage","title":"Z축 감도(No.3)","label":"units","format":"{{value}}","min":"-100","max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":720,"wires":[]},{"id":"3e410e78.f6dff2","type":"mqtt in","z":"708a0e85.df0af","name":"증자1호 Z축 각속도","topic":"/RotaryCook1Sensor3/ZGyro","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":130,"y":720,"wires":[["43c76e05.d8b25","c0fa7f7b.37491"]]},{"id":"c0fa7f7b.37491","type":"ui_chart","z":"708a0e85.df0af","name":"증자1호 Z축 각속도(No.3)","group":"7352b336.76cddc","order":8,"width":0,"height":0,"label":"Z축 진동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":720,"wires":[[]]},{"id":"775feb14.526b04","type":"mqtt in","z":"708a0e85.df0af","name":"증자1호 진동센서 온도","topic":"/RotaryCook1Sensor3/Temp","qos":"1","datatype":"auto","broker":"c32d60a4.705ce","x":140,"y":780,"wires":[["4e441ff4.755c8","a0458133.1c8d1"]]},{"id":"4e441ff4.755c8","type":"ui_gauge","z":"708a0e85.df0af","name":"게이지_진동센서 온도(No.3)","group":"ffaa85c1.060358","order":3,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.3)","label":"℃","format":"{{value}}","min":"-400","max":"-900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":780,"wires":[]},{"id":"a0458133.1c8d1","type":"ui_chart","z":"708a0e85.df0af","name":"진동센서 온도(No.3)","group":"ffaa85c1.060358","order":8,"width":0,"height":0,"label":"온도 변동폭(No.3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":780,"wires":[[]]},{"id":"b6335ab0.af3358","type":"ui_chart","z":"708a0e85.df0af","name":"진동센서 온도(No.2)","group":"ffaa85c1.060358","order":6,"width":0,"height":0,"label":"온도 변동폭(No.2)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2c4a72","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":500,"wires":[[]]},{"id":"da6da131.dd892","type":"ui_gauge","z":"708a0e85.df0af","name":"게이지_진동센서 온도(No.2)","group":"ffaa85c1.060358","order":2,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도(No.2)","label":"℃","format":"{{value}}","min":"-400","max":"-900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":500,"wires":[]},{"id":"39fa37f6.4bd7e8","type":"ui_template","z":"d73865ad.4c2998","group":"457babc9.91a9a4","name":"ESP32-CAM","order":0,"width":"0","height":"0","format":"<div>\n    <img src=\"http://49.168.145.8:19134/mjpeg/1\" width=\"520\" height=\"400\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":330,"y":200,"wires":[[]]}]