node-red/ip34_all.json
[{"id":"c164ad23.32374","type":"tab","label":"MPU6050_1","disabled":false,"info":""},{"id":"3cefb83b.2a41f8","type":"tab","label":"플로우 3","disabled":false,"info":""},{"id":"76eaa4ab.a90c4c","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"bfa0696c.0e1418","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"49cf9feb.84093","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5de09fc4.33cbe","type":"ui_group","z":"","name":"","tab":"270cafba.e286f","order":1,"disp":true,"width":5,"collapse":false},{"id":"63e059ff.646a38","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.33","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f70a863.d171d78","type":"ui_group","z":"","name":"","tab":"270cafba.e286f","order":2,"disp":true,"width":5,"collapse":false},{"id":"f578b333.db711","type":"ui_group","z":"","name":"","tab":"270cafba.e286f","order":3,"disp":true,"width":5,"collapse":false},{"id":"270cafba.e286f","type":"ui_tab","z":"","name":"증자1호기 진동 데이터","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e77592aa.1b662","type":"mqtt-broker","z":"","name":"mqttbroker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"701f98c2.dc2e78","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"sensors","name":"","usetls":false,"tls":""},{"id":"4acddace.dce434","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.33","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e7b80a16.3bafd8","type":"influxdb","z":"","hostname":"192.168.0.33","port":"8086","protocol":"http","database":"test_data","name":"InfuxDB-Intrusion-Data","usetls":false,"tls":""},{"id":"9f467dbe.9996b","type":"ui_group","z":"","name":"","tab":"270cafba.e286f","order":4,"disp":true,"width":4,"collapse":false},{"id":"1969f47b.68a23c","type":"ui_spacer","name":"spacer","group":"9f467dbe.9996b","order":2,"width":4,"height":1},{"id":"a3f7e196.7f98d","type":"ui_group","z":"","name":"","tab":"c637d6f9.2fb3d8","order":1,"disp":true,"width":5,"collapse":false},{"id":"6274de1b.8a5fc","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.33","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"30e5b3e3.9cf3ac","type":"ui_group","z":"","name":"","tab":"c637d6f9.2fb3d8","order":2,"disp":true,"width":5,"collapse":false},{"id":"d6af9b08.a70fc8","type":"ui_group","z":"","name":"","tab":"c637d6f9.2fb3d8","order":3,"disp":true,"width":5,"collapse":false},{"id":"6ce2e515.e49aec","type":"ui_group","z":"","name":"","tab":"c637d6f9.2fb3d8","order":4,"disp":true,"width":4,"collapse":false},{"id":"c637d6f9.2fb3d8","type":"ui_tab","z":"","name":"증자1호기 진동 데이터","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"686bb14d.7a76e","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5e7863b6.b0b63c","type":"ui_group","z":"","name":"ESP32-CAM - Node-RED","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"cb550e1a.baa9c","type":"ui_group","z":"","name":"Settings","tab":"88584fe6.3e7d1","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1ee163f.4c96d8","type":"ui_group","z":"","name":"Img","tab":"88584fe6.3e7d1","order":2,"disp":true,"width":"10","collapse":false},{"id":"88584fe6.3e7d1","type":"ui_tab","z":"","name":"Cam","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"85995956.75ab08","type":"ui_group","z":"","name":"Default","tab":"a59b7e82.22294","order":1,"disp":true,"width":"6","collapse":false},{"id":"a59b7e82.22294","type":"ui_tab","z":"","name":"esp32-cam","icon":"dashboard","disabled":false,"hidden":false},{"id":"3a63bb2e.f21724","type":"mqtt in","z":"3cefb83b.2a41f8","name":"Acc_X","topic":"/RotaryCook1Sensor1/XAcc","qos":"1","datatype":"auto","broker":"4acddace.dce434","x":110,"y":60,"wires":[["480505be.aabd9c"]]},{"id":"adc410e0.91da6","type":"mqtt in","z":"3cefb83b.2a41f8","name":"Acc_Y","topic":"/RotaryCook1Sensor1/YAcc","qos":"1","datatype":"auto","broker":"4acddace.dce434","x":110,"y":120,"wires":[["480505be.aabd9c"]]},{"id":"77931dc0.f268c4","type":"mqtt in","z":"3cefb83b.2a41f8","name":"Acc_Z","topic":"/RotaryCook1Sensor1/ZAcc","qos":"2","datatype":"auto","broker":"4acddace.dce434","x":110,"y":180,"wires":[["480505be.aabd9c"]]},{"id":"abdbf4e3.6d4de8","type":"mqtt in","z":"3cefb83b.2a41f8","name":"Temp","topic":"/RotaryCook1Sensor1/Temp","qos":"1","datatype":"auto","broker":"4acddace.dce434","x":110,"y":240,"wires":[["480505be.aabd9c"]]},{"id":"480505be.aabd9c","type":"join","z":"3cefb83b.2a41f8","name":"Join Sensor Data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":220,"wires":[["f3bec021.4242","f09a3d32.c5982"]]},{"id":"f3bec021.4242","type":"influxdb out","z":"3cefb83b.2a41f8","influxdb":"e7b80a16.3bafd8","name":"InfuxDB-Intrusion-Data","measurement":"insert_data","precision":"","retentionPolicy":"","x":620,"y":260,"wires":[]},{"id":"f09a3d32.c5982","type":"debug","z":"3cefb83b.2a41f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":160,"wires":[]},{"id":"2bdcb3f4.25afdc","type":"ui_gauge","z":"c164ad23.32374","name":"증자1호 X축 가속도","group":"5de09fc4.33cbe","order":1,"width":0,"height":0,"gtype":"gage","title":"X축 감도","label":"units","format":"{{value}}","min":"-400","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":40,"wires":[]},{"id":"9fe20926.c44408","type":"mqtt in","z":"c164ad23.32374","name":"증자1호 X축 가속도","topic":"/RotaryCook1Sensor1/XAcc","qos":"1","datatype":"auto","broker":"63e059ff.646a38","x":130,"y":40,"wires":[["2bdcb3f4.25afdc","93f4fdd9.f29f8"]]},{"id":"93f4fdd9.f29f8","type":"ui_chart","z":"c164ad23.32374","name":"증자1호 X축 가속도","group":"5de09fc4.33cbe","order":2,"width":0,"height":0,"label":"X축 진동폭","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":40,"wires":[[]]},{"id":"a59f9467.aba8f8","type":"ui_gauge","z":"c164ad23.32374","name":"증자1호 Y축 가속도","group":"f70a863.d171d78","order":1,"width":0,"height":0,"gtype":"gage","title":"Y축 감도","label":"units","format":"{{value}}","min":"-16000","max":"-16500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":100,"wires":[]},{"id":"65aa06a8.1d3df8","type":"mqtt in","z":"c164ad23.32374","name":"증자1호 Y축 가속도","topic":"/RotaryCook1Sensor1/YAcc","qos":"1","datatype":"auto","broker":"63e059ff.646a38","x":130,"y":100,"wires":[["a59f9467.aba8f8","84fd128a.0cc38"]]},{"id":"84fd128a.0cc38","type":"ui_chart","z":"c164ad23.32374","name":"증자1호 Y축 가속도","group":"f70a863.d171d78","order":2,"width":0,"height":0,"label":"Y축 진동폭","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":100,"wires":[[]]},{"id":"2febbb9e.49d2b4","type":"ui_gauge","z":"c164ad23.32374","name":"증자1호 Z축 가속도","group":"f578b333.db711","order":1,"width":0,"height":0,"gtype":"gage","title":"Z축 감도","label":"units","format":"{{value}}","min":"-400","max":"-900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":160,"wires":[]},{"id":"6cf75190.5662e","type":"mqtt in","z":"c164ad23.32374","name":"증자1호 Z축 가속도","topic":"/RotaryCook1Sensor1/ZAcc","qos":"1","datatype":"auto","broker":"63e059ff.646a38","x":130,"y":160,"wires":[["2febbb9e.49d2b4","756bf26d.7907dc"]]},{"id":"756bf26d.7907dc","type":"ui_chart","z":"c164ad23.32374","name":"증자1호 Z축 가속도","group":"f578b333.db711","order":2,"width":0,"height":0,"label":"Z축 진동폭","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":160,"wires":[[]]},{"id":"9ec00433.898e68","type":"mqtt in","z":"c164ad23.32374","name":"증자1호 진동센서 온도","topic":"/RotaryCook1Sensor1/Temp","qos":"1","datatype":"auto","broker":"63e059ff.646a38","x":140,"y":220,"wires":[["71dba426.371f3c","f42efc66.40a5b"]]},{"id":"71dba426.371f3c","type":"ui_gauge","z":"c164ad23.32374","name":"","group":"9f467dbe.9996b","order":1,"width":0,"height":0,"gtype":"compass","title":"진동센서 온도","label":"units","format":"{{value}}","min":"-400","max":"-900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":220,"wires":[]},{"id":"f42efc66.40a5b","type":"ui_chart","z":"c164ad23.32374","name":"","group":"9f467dbe.9996b","order":3,"width":0,"height":0,"label":"온도 변동폭","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":220,"wires":[[]]},{"id":"701d2c93.e6b634","type":"mqtt in","z":"76eaa4ab.a90c4c","name":"","topic":"OUT","qos":"2","datatype":"auto","broker":"","x":170,"y":60,"wires":[["5fad41d.120c2c","f8a45751.3d8bd8"]]},{"id":"16e66bde.3002b4","type":"mqtt out","z":"76eaa4ab.a90c4c","name":"","topic":"PHOTO","qos":"","retain":"","broker":"","x":360,"y":210,"wires":[]},{"id":"9053a9ed.c16808","type":"inject","z":"76eaa4ab.a90c4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":170,"wires":[["16e66bde.3002b4"]]},{"id":"c06cce8d.f232b","type":"mqtt out","z":"76eaa4ab.a90c4c","name":"","topic":"Config","qos":"","retain":"","broker":"","x":530,"y":250,"wires":[]},{"id":"bdcf790a.522998","type":"ui_switch","z":"76eaa4ab.a90c4c","name":"","label":"V Flip","tooltip":"","group":"cb550e1a.baa9c","order":1,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"vflip\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"vflip\": 0}","offvalueType":"json","officon":"","offcolor":"","x":170,"y":250,"wires":[["c06cce8d.f232b"]]},{"id":"c5e7b701.538fc8","type":"ui_switch","z":"76eaa4ab.a90c4c","name":"","label":"H Mirror","tooltip":"","group":"cb550e1a.baa9c","order":2,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"hmirror\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"hmirror\": 0}","offvalueType":"json","officon":"","offcolor":"","x":180,"y":290,"wires":[["c06cce8d.f232b"]]},{"id":"7be60808.220e48","type":"ui_switch","z":"76eaa4ab.a90c4c","name":"","label":"Colorbar","tooltip":"","group":"cb550e1a.baa9c","order":3,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"colorbar\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"colorbar\": 0}","offvalueType":"json","officon":"","offcolor":"","x":180,"y":330,"wires":[["c06cce8d.f232b"]]},{"id":"d73066d2.8bdd28","type":"ui_slider","z":"76eaa4ab.a90c4c","name":"","label":"Quality","tooltip":"","group":"cb550e1a.baa9c","order":12,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"10","max":"63","step":1,"x":170,"y":410,"wires":[["90012a7a.1e24b8"]]},{"id":"90012a7a.1e24b8","type":"function","z":"76eaa4ab.a90c4c","name":"","func":"msg.payload = {\"quality\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":410,"wires":[["c06cce8d.f232b"]]},{"id":"987c9bbf.036cb8","type":"ui_slider","z":"76eaa4ab.a90c4c","name":"","label":"Brightness","tooltip":"","group":"cb550e1a.baa9c","order":9,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"-2","max":"2","step":1,"x":190,"y":450,"wires":[["8fdc770f.b3a928"]]},{"id":"8fdc770f.b3a928","type":"function","z":"76eaa4ab.a90c4c","name":"","func":"msg.payload = {\"brightness\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":450,"wires":[["c06cce8d.f232b"]]},{"id":"b149cf4e.21064","type":"ui_slider","z":"76eaa4ab.a90c4c","name":"","label":"Contrast","tooltip":"","group":"cb550e1a.baa9c","order":10,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"-2","max":"2","step":1,"x":180,"y":530,"wires":[["b5d8bd16.e45ba"]]},{"id":"b5d8bd16.e45ba","type":"function","z":"76eaa4ab.a90c4c","name":"","func":"msg.payload = {\"contrast\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":530,"wires":[["c06cce8d.f232b"]]},{"id":"4f31a01.bfe156","type":"ui_switch","z":"76eaa4ab.a90c4c","name":"","label":"Flash","tooltip":"","group":"cb550e1a.baa9c","order":6,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"flash\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"flash\": 0}","offvalueType":"json","officon":"","offcolor":"","x":170,"y":490,"wires":[["c06cce8d.f232b"]]},{"id":"85b1cc69.aeb6","type":"ui_slider","z":"76eaa4ab.a90c4c","name":"","label":"Saturation","tooltip":"","group":"cb550e1a.baa9c","order":13,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"-2","max":"2","step":1,"x":190,"y":570,"wires":[["e3390cc5.13fb4"]]},{"id":"e3390cc5.13fb4","type":"function","z":"76eaa4ab.a90c4c","name":"","func":"msg.payload = {\"saturation\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":570,"wires":[["c06cce8d.f232b"]]},{"id":"8fa64fd2.cdd1b","type":"ui_switch","z":"76eaa4ab.a90c4c","name":"","label":"AWB ","tooltip":"","group":"cb550e1a.baa9c","order":5,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{ \"awb_gain\": 1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{ \"awb_gain\": 0}","offvalueType":"json","officon":"","offcolor":"","x":170,"y":610,"wires":[["c06cce8d.f232b"]]},{"id":"64eec411.7e740c","type":"ui_slider","z":"76eaa4ab.a90c4c","name":"","label":"WB mode","tooltip":"","group":"cb550e1a.baa9c","order":7,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"4","step":1,"x":180,"y":690,"wires":[["de70f46a.91a328"]]},{"id":"de70f46a.91a328","type":"function","z":"76eaa4ab.a90c4c","name":"","func":"msg.payload = {\"wb_mode\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":690,"wires":[["c06cce8d.f232b"]]},{"id":"85d4887f.0ff668","type":"ui_slider","z":"76eaa4ab.a90c4c","name":"","label":"Gain","tooltip":"","group":"cb550e1a.baa9c","order":8,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"6","step":1,"x":170,"y":650,"wires":[["6c03966f.e38b78"]]},{"id":"6c03966f.e38b78","type":"function","z":"76eaa4ab.a90c4c","name":"","func":"msg.payload = {\"gain\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":650,"wires":[["c06cce8d.f232b"]]},{"id":"a8438283.818d4","type":"ui_slider","z":"76eaa4ab.a90c4c","name":"","label":"Resolution","tooltip":"","group":"cb550e1a.baa9c","order":11,"width":3,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"8","step":1,"x":190,"y":730,"wires":[["a3b550d0.4697"]]},{"id":"a3b550d0.4697","type":"function","z":"76eaa4ab.a90c4c","name":"","func":"msg.payload = {\"resolution\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":730,"wires":[["c06cce8d.f232b"]]},{"id":"64a01586.7ae4cc","type":"ui_template","z":"76eaa4ab.a90c4c","group":"b1ee163f.4c96d8","name":"Image","order":1,"width":10,"height":8,"format":"<img height=\"100%\" src=\"data:image/jpeg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":480,"y":60,"wires":[[]]},{"id":"e4dc790b.2833c8","type":"ui_button","z":"76eaa4ab.a90c4c","name":"","group":"cb550e1a.baa9c","order":15,"width":0,"height":0,"passthru":false,"label":"Capture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":210,"wires":[["16e66bde.3002b4"]]},{"id":"415d8b83.01f084","type":"ui_slider","z":"76eaa4ab.a90c4c","name":"","label":"Effect","tooltip":"","group":"cb550e1a.baa9c","order":4,"width":3,"height":1,"passthru":true,"outs":"end","topic":"special_effect","min":0,"max":"6","step":1,"x":170,"y":370,"wires":[["9ef66877.5099e8"]]},{"id":"9ef66877.5099e8","type":"function","z":"76eaa4ab.a90c4c","name":"","func":"msg.payload = {\"special_effect\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":370,"wires":[["c06cce8d.f232b"]]},{"id":"5fad41d.120c2c","type":"base64","z":"76eaa4ab.a90c4c","name":"","action":"","property":"payload","x":330,"y":60,"wires":[["64a01586.7ae4cc"]]},{"id":"f8a45751.3d8bd8","type":"image","z":"76eaa4ab.a90c4c","name":"","width":"900","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":350,"y":100,"wires":[]},{"id":"9772676f.492eb8","type":"ui_template","z":"bfa0696c.0e1418","group":"85995956.75ab08","name":"","order":0,"width":0,"height":0,"format":"<div>\n    <img src=\"http://192.168.0.29\" width=\"600\" height=\"400\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":260,"y":120,"wires":[[]]}]